<div id="<%= dom_id blog %>">
  <p>
    <strong>Title:</strong>
    <%= blog.title %>
  </p>

  <p>
    <strong>Minute:</strong>
    <%= blog.minute %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= blog.desc %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= blog.image %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= blog.content %>
  </p>

</div>
