<p style="color: green"><%= notice %></p>

<h1>Blogs</h1>

<div id="blogs">
  <% @blogs.each do |blog| %>
    <%= render blog %>
    <p>
      <%= link_to "Show this blog", blog %>
    </p>
  <% end %>
</div>


    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Euclid Circular B:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap"
    />

    <div class="blog">
<%= render 'layouts/nav' %>
      <section class="blog-inner">
        <div class="frame-parent45">
          <div class="frame-parent46">
            <div class="row-parent">
              <div class="row">
                <a class="blog3">Blog</a>
              </div>
              <h1 class="heading2">Describe what your blog is about</h1>
            </div>
            <p class="dorem-ipsum-dolor">
              Dorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu
              turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus
              nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum
              tellus elit sed risus. Maecena
            </p>
          </div>
          <div class="frame-parent47">
            <div class="placeholder-image-parent">
              <textarea class="placeholder-image" rows="{16}" cols="{32}">
              </textarea>
              <div class="content12">
                <div class="info">
                  <div class="text-wrapper">
                    <b class="text">Category</b>
                  </div>
                  <div class="text1">5 min read</div>
                </div>
                <div class="title">
                  <h2 class="heading3">Blog title heading will go here</h2>
                  <p class="text2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Suspendisse varius enim in eros.
                  </p>
                </div>
              </div>
              <div class="button2">
                <div class="button3">Read more</div>
                <img
                  class="icon-chevron-right"
                  loading="lazy"
                  alt=""
                  src="./public/icon--chevron-right.svg"
                />
              </div>
            </div>
            <div class="frame-parent48">
              <div class="placeholder-image-group">
                <div class="placeholder-image1"></div>
                <div class="content-wrapper">
                  <div class="content13">
                    <div class="content-parent3">
                      <div class="content14">
                        <div class="info1">
                          <div class="text-container">
                            <b class="text3">Category</b>
                          </div>
                          <div class="text4">5 min read</div>
                        </div>
                        <h3 class="heading4">
                          Blog title heading will go here
                        </h3>
                      </div>
                      <p class="text5">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Suspendisse varius enim in eros.
                      </p>
                    </div>
                    <div class="button4">
                      <div class="row1">
                        <a class="join-the-waitlist">Read more</a>
                        <img
                          class="icon-componet"
                          alt=""
                          src="./public/icon-componet@2x.png"
                        />

                        <img
                          class="component-1-icon"
                          loading="lazy"
                          alt=""
                          src="./public/component-1.svg"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="placeholder-image-container">
                <div class="placeholder-image2"></div>
                <div class="content-frame">
                  <div class="content15">
                    <div class="content-parent4">
                      <div class="content16">
                        <div class="info2">
                          <div class="text-frame">
                            <b class="text6">Category</b>
                          </div>
                          <div class="text7">5 min read</div>
                        </div>
                        <h3 class="heading5">
                          Blog title heading will go here
                        </h3>
                      </div>
                      <p class="text8">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Suspendisse varius enim in eros.
                      </p>
                    </div>
                    <div class="button5">
                      <div class="row2">
                        <a class="join-the-waitlist1">Read more</a>
                        <img
                          class="icon-componet1"
                          alt=""
                          src="./public/icon-componet@2x.png"
                        />

                        <img
                          class="component-1-icon1"
                          alt=""
                          src="./public/component-1.svg"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="stay-in-loop-wrapper">
        <div class="stay-in-loop">
          <div class="div5">
            <div class="heading6">
              <h1 class="stay-in-the2">Stay in the loop</h1>
              <p class="stay-ahead-of-container">
                <span class="stay-ahead-of"
                  >Stay ahead of the curve with inspiring content, special
                  insights and industry trends tailored to your investment
                  journey in the ever-evolving digital landscape.
                </span>
              </p>
            </div>
            <form class="form">
              <div class="input17">
                <div class="full-name">Full Name</div>
                <div class="input18">
                  <input
                    class="enter-name"
                    placeholder="Enter Name"
                    type="text"
                  />
                </div>
              </div>
              <div class="input19">
                <div class="full-name1">Full Name</div>
                <div class="input20">
                  <input
                    class="enter-name1"
                    placeholder="Enter Email Address"
                    type="text"
                  />
                </div>
              </div>
              <button class="button6">
                <b class="stay-in-the3">Stay in the Loop</b>
                <img class="icon2" alt="" src="./public/icon1.svg" />
              </button>
            </form>
          </div>
        </div>
      </section>
<%= render 'layouts/footer' %>
    </div>


<style>
	.nav-child {
  height: 70px;
  width: 1440px;
  position: relative;
  background-color: var(--color2);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.reblox-patterns-1 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.logo-in-png2 {
  height: 40px;
  width: 162.7px;
  position: relative;
  object-fit: contain;
}
.about-us1 {
  position: relative;
  line-height: 150%;
  white-space: nowrap;
}
.about-us {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-3xs);
}
.blog2 {
  position: relative;
  line-height: 150%;
}
.blog1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-3xs);
}
.contact-us1 {
  position: relative;
  line-height: 150%;
  white-space: nowrap;
}
.contact-us {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-3xs);
}
.links,
.stay-in-the1 {
  font-family: var(--desktop-bold-h2);
}
.links {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--body-base-regular-size);
  color: var(--bg-50);
}
.stay-in-the1 {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 150%;
  color: var(--color1);
  text-align: center;
  white-space: nowrap;
}
.icon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button1,
.nav,
.nav-wrap {
  display: flex;
  flex-direction: row;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs-5) var(--padding-15xl);
  background-color: var(--color);
  border-radius: var(--br-xs);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  white-space: nowrap;
}
.button1:hover,
.button6:hover,
.button7:hover {
  background-color: var(--color-deepskyblue-100);
}
.nav,
.nav-wrap {
  max-width: 100%;
}
.nav-wrap {
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
  z-index: 2;
}
.nav {
  align-self: stretch;
  background-color: var(--color2);
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-46xl);
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 99;
}
.blog3 {
  text-decoration: none;
  position: relative;
  line-height: 20px;
  color: inherit;
}
.row {
  width: 50px;
  border-radius: var(--br-xs);
  background-color: var(--secondary-50);
  border: 1px solid var(--secondary-300);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-4xs);
}
.heading2 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--desktop-medium-h1-size);
  line-height: 64px;
  font-weight: 600;
  font-family: inherit;
  color: var(--black);
}
.row-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.dorem-ipsum-dolor {
  margin: 0;
  align-self: stretch;
  height: 72px;
  position: relative;
  font-size: var(--body-base-regular-size);
  line-height: 24px;
  color: var(--monochrome-nuetral-600);
  display: inline-block;
}
.frame-parent46 {
  width: 768px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.placeholder-image {
  border: 0;
  background-color: var(--neutral-grey-50);
  height: 329px;
  width: auto;
  outline: 0;
  align-self: stretch;
  position: relative;
  border-radius: var(--br-xs);
}
.text {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.text-wrapper {
  background-color: var(--light-grey);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-5xs);
}
.text1 {
  position: relative;
  line-height: 20px;
}
.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.heading3,
.text2 {
  margin: 0;
  align-self: stretch;
  position: relative;
}
.heading3 {
  font-size: inherit;
  line-height: 32px;
  font-weight: 600;
  font-family: inherit;
}
.text2 {
  height: 48px;
  font-size: var(--body-base-regular-size);
  line-height: 24px;
  color: var(--monochrome-nuetral-600);
  display: inline-block;
}
.content12,
.title {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.title {
  gap: var(--gap-5xs);
  font-size: var(--desktop-medium-h4-size);
  color: var(--monochrome-nuetral-black);
}
.content12 {
  gap: var(--gap-base);
}
.button3 {
  position: relative;
  line-height: 150%;
}
.icon-chevron-right {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.button2,
.placeholder-image-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button2 {
  flex-direction: row;
  gap: var(--gap-5xs);
  font-size: var(--body-base-regular-size);
  color: var(--primary-600);
  font-family: var(--text-small-normal);
}
.placeholder-image-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xl);
  min-width: 416px;
  max-width: 100%;
}
.placeholder-image1 {
  height: 250px;
  width: 250px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--neutral-grey-50);
  min-width: 250px;
}
.text3 {
  position: relative;
  line-height: 16px;
  font-weight: 600;
}
.text-container {
  background-color: var(--light-grey);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-5xs);
}
.text4 {
  position: relative;
  line-height: 16px;
}
.info1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.heading4 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--body-xl-semibold-size);
  line-height: 32px;
  font-weight: 600;
  font-family: inherit;
  color: var(--monochrome-nuetral-black);
}
.content14 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.text5 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--text-small-normal-size);
  line-height: 20px;
  color: var(--monochrome-nuetral-600);
}
.content-parent3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.join-the-waitlist {
  text-decoration: none;
  position: relative;
  line-height: 20px;
  font-weight: 600;
  color: inherit;
}
.component-1-icon,
.icon-componet {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-componet {
  height: 33.7px;
  width: 33.7px;
  object-fit: contain;
  display: none;
}
.component-1-icon {
  height: 16px;
  width: 16px;
}
.button4,
.row1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row1 {
  border-radius: var(--br-xs);
  justify-content: center;
  padding: var(--padding-3xs);
  gap: var(--gap-9xs);
}
.button4 {
  justify-content: flex-end;
  font-size: var(--text-small-normal-size);
  color: var(--primary-600);
}
.content-wrapper,
.content13,
.placeholder-image-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content13 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-31xl);
}
.content-wrapper,
.placeholder-image-group {
  max-width: 100%;
}
.content-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-base) 0 0;
  box-sizing: border-box;
  min-width: 238px;
}
.placeholder-image-group {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-5xl);
}
.placeholder-image2 {
  height: 250px;
  width: 250px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--neutral-grey-50);
  min-width: 250px;
}
.text6 {
  position: relative;
  line-height: 16px;
  font-weight: 600;
}
.text-frame {
  background-color: var(--light-grey);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-5xs);
}
.text7 {
  position: relative;
  line-height: 16px;
}
.info2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.heading5 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--body-xl-semibold-size);
  line-height: 32px;
  font-weight: 600;
  font-family: inherit;
  color: var(--monochrome-nuetral-black);
}
.content16 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.text8 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--text-small-normal-size);
  line-height: 20px;
  color: var(--monochrome-nuetral-600);
}
.content-parent4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.join-the-waitlist1 {
  text-decoration: none;
  position: relative;
  line-height: 20px;
  font-weight: 600;
  color: inherit;
}
.component-1-icon1,
.icon-componet1 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-componet1 {
  height: 33.7px;
  width: 33.7px;
  object-fit: contain;
  display: none;
}
.component-1-icon1 {
  height: 16px;
  width: 16px;
}
.button5,
.row2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row2 {
  border-radius: var(--br-xs);
  justify-content: center;
  padding: var(--padding-3xs);
  gap: var(--gap-9xs);
}
.button5 {
  justify-content: flex-end;
  font-size: var(--text-small-normal-size);
  color: var(--primary-600);
}
.content15 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-31xl);
}
.content-frame {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-base) 0 0;
  box-sizing: border-box;
  min-width: 238px;
}
.content-frame,
.frame-parent48,
.placeholder-image-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.placeholder-image-container {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-5xl);
}
.frame-parent48 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-13xl);
  min-width: 416px;
  font-size: var(--body-sm-regular-size);
}
.frame-parent47 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-13xl);
  color: var(--black);
}
.blog-inner,
.frame-parent45,
.frame-parent47 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent45 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-21xl);
}
.blog-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-44xl) 78px var(--padding-46xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--text-small-normal-size);
  color: var(--primary-950);
  font-family: var(--body-base-regular);
}
.stay-in-the2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.stay-ahead-of {
  display: block;
}
.stay-ahead-of-container {
  margin: 0;
  height: 44px;
  position: relative;
  font-size: var(--body-base-regular-size);
  display: inline-block;
  flex-shrink: 0;
}
.heading6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-base);
  max-width: 100%;
}
.enter-name,
.full-name {
  font-family: var(--desktop-bold-h2);
  position: relative;
  line-height: 150%;
  text-align: left;
}
.full-name {
  width: 74px;
  font-size: var(--body-base-regular-size);
  color: var(--white);
  display: none;
}
.enter-name {
  width: 75px;
  border: 0;
  outline: 0;
  font-size: var(--text-small-normal-size);
  background-color: transparent;
  height: 21px;
  color: var(--neutral-grey-70);
  display: flex;
  align-items: center;
  padding: 0;
}
.input17,
.input18 {
  display: flex;
  justify-content: flex-start;
}
.input18 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  border: 1px solid var(--neutral-grey-70);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-smi) var(--padding-xs);
}
.input17 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xs);
  min-width: 253px;
  max-width: 100%;
}
.enter-name1,
.full-name1 {
  font-family: var(--desktop-bold-h2);
  position: relative;
  line-height: 150%;
  text-align: left;
}
.full-name1 {
  width: 74px;
  font-size: var(--body-base-regular-size);
  color: var(--white);
  display: none;
}
.enter-name1 {
  width: 128px;
  border: 0;
  outline: 0;
  font-size: var(--text-small-normal-size);
  background-color: transparent;
  height: 21px;
  color: var(--neutral-grey-70);
  display: flex;
  align-items: center;
  padding: 0;
}
.input19,
.input20 {
  display: flex;
  justify-content: flex-start;
}
.input20 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  border: 1px solid var(--neutral-grey-70);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-smi) var(--padding-xs);
}
.input19 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xs);
  min-width: 253px;
  max-width: 100%;
}
.stay-in-the3 {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 150%;
  font-family: var(--desktop-bold-h2);
  color: var(--color1);
  text-align: center;
}
.icon2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button6,
.form {
  flex-direction: row;
}
.button6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs-5) var(--padding-15xl);
  background-color: var(--color);
  border-radius: var(--br-xs);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  white-space: nowrap;
}
.form {
  margin: 0;
  align-self: stretch;
  gap: var(--gap-xs);
}
.div5,
.form,
.stay-in-loop,
.stay-in-loop-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.div5 {
  width: 1010px;
  flex-direction: column;
  gap: var(--gap-13xl);
}
.stay-in-loop,
.stay-in-loop-wrapper {
  box-sizing: border-box;
}
.stay-in-loop {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--color1);
  overflow: hidden;
  flex-direction: column;
  padding: 80px 40px;
}
.stay-in-loop-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-49xl) var(--padding-7xs) var(--padding-44xl);
  text-align: left;
  font-size: var(--desktop-medium-h1-size);
  color: var(--primary-50);
  font-family: var(--desktop-bold-h2);
}
.reblox-patterns-11 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.logo-in-png3 {
  height: 60px;
  width: 244px;
  position: relative;
  object-fit: cover;
  display: none;
}
.logo-in-png-container {
  width: 244px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-image: url(./public/logo-in-png@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.adewale,
.full-name2 {
  position: relative;
  line-height: 150%;
}
.full-name2 {
  width: 74px;
  display: none;
}
.adewale {
  width: 91px;
  border: 0;
  outline: 0;
  font-family: var(--desktop-bold-h2);
  font-size: var(--text-small-normal-size);
  background-color: transparent;
  height: 21px;
  color: var(--primary-50);
  text-align: left;
  display: flex;
  align-items: center;
  padding: 0;
}
.input21,
.input22 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.input22 {
  border-radius: var(--br-5xs);
  border: 1px solid var(--primary-50);
  box-sizing: border-box;
  padding: var(--padding-smi) var(--padding-xs);
}
.input21 {
  gap: var(--gap-xs);
  min-width: 253px;
  z-index: 1;
}
.stay-in-the4 {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 150%;
  font-family: var(--desktop-bold-h2);
  color: var(--color1);
  text-align: center;
}
.icon3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button7,
.frame-parent50,
.input-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button7 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs-5) var(--padding-15xl);
  background-color: var(--color);
  border-radius: var(--br-xs);
  overflow: hidden;
  gap: var(--gap-5xs);
  white-space: nowrap;
  z-index: 1;
}
.frame-parent50,
.input-parent {
  align-self: stretch;
  gap: var(--gap-mid);
  max-width: 100%;
}
.frame-parent50 {
  flex-direction: column;
  gap: var(--gap-19xl);
}
.copyright-reblox {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 23px;
  z-index: 1;
}
.copyright-reblox-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.privacy-policy {
  text-decoration: underline;
}
.and {
  color: var(--off-white);
}
.terms-of-service {
  text-decoration: underline;
}
.privacy-policy-and-container {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 23px;
  z-index: 1;
  color: var(--color);
}
.frame-parent49,
.frame-parent51 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent51 {
  flex-direction: row;
  gap: var(--gap-lgi);
  font-size: var(--body-sm-regular-size);
  color: var(--off-white);
}
.frame-parent49 {
  width: 888px;
  flex-direction: column;
  padding: 0 275px 0 0;
  box-sizing: border-box;
  gap: 77px;
  color: var(--white);
}
.heading7,
.link1 {
  position: relative;
  line-height: 150%;
}
.heading7 {
  align-self: stretch;
  font-weight: 600;
}
.link1 {
  flex: 1;
}
.link {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.link3 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.link2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.link5 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.link4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.footer-links {
  align-self: stretch;
  font-size: var(--text-small-normal-size);
}
.column,
.column-wrapper,
.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.column {
  align-self: stretch;
  overflow: hidden;
  gap: var(--gap-base);
  z-index: 1;
}
.column-wrapper {
  width: 141px;
  padding: var(--padding-2xs) 0 0;
  box-sizing: border-box;
  font-family: var(--text-small-normal);
}
.heading8 {
  align-self: stretch;
  height: 22px;
  position: relative;
  display: inline-block;
}
.brand-facebook-icon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.brand-facebook-wrapper {
  height: 24px;
  width: 24px;
  border-radius: var(--br-37xl);
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs);
  box-sizing: border-box;
}
.facebook {
  position: relative;
  line-height: 150%;
}
.link6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 104px var(--padding-5xs) 0;
  gap: var(--gap-xs);
}
.brand-instagram-icon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.brand-instagram-wrapper {
  height: 24px;
  width: 24px;
  border-radius: var(--br-37xl);
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs);
  box-sizing: border-box;
}
.instagram {
  position: relative;
  line-height: 150%;
}
.link7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 101px var(--padding-5xs) 0;
  gap: var(--gap-xs);
}
.brand-twitter-icon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.brand-twitter-wrapper {
  height: 24px;
  width: 24px;
  border-radius: var(--br-37xl);
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs);
  box-sizing: border-box;
}
.twitter {
  position: relative;
  line-height: 150%;
}
.link8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 121px var(--padding-5xs) 0;
  gap: var(--gap-xs);
}
.brand-linkedin-icon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.brand-linkedin-wrapper {
  height: 24px;
  width: 24px;
  border-radius: var(--br-37xl);
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs);
  box-sizing: border-box;
}
.linkedin {
  position: relative;
  line-height: 150%;
}
.link9 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 112px var(--padding-5xs) 0;
  gap: var(--gap-xs);
}
.column1,
.social-links {
  align-self: stretch;
  flex-direction: column;
}
.social-links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--text-small-normal-size);
  color: var(--white);
  font-family: var(--text-small-normal);
}
.column1 {
  gap: var(--gap-base);
  z-index: 1;
}
.blog,
.column-container,
.column1,
.footer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.column-container {
  width: 201.3px;
  flex-direction: column;
  padding: var(--padding-2xs) 0 0;
  box-sizing: border-box;
}
.blog,
.footer {
  position: relative;
  overflow: hidden;
}
.footer {
  background-color: var(--color2);
  flex-direction: row;
  padding: var(--padding-32xl) 64px 22px;
  box-sizing: border-box;
  gap: var(--gap-21xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--body-base-regular-size);
  color: var(--primary-50);
  font-family: var(--desktop-bold-h2);
}
.blog {
  width: 100%;
  background-color: #f4fafc;
  flex-direction: column;
  gap: 54px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1350px) {
  .footer {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1150px) {
  .blog-inner {
    padding-bottom: var(--padding-32xl);
    box-sizing: border-box;
  }
  .input17,
  .input19 {
    flex: 1;
  }
  .form {
    flex-wrap: wrap;
  }
  .frame-parent49 {
    gap: var(--gap-19xl);
    padding-right: var(--padding-118xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .links {
    display: none;
  }
  .nav {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
  .heading2 {
    font-size: var(--font-size-19xl);
    line-height: 51px;
  }
  .placeholder-image-parent {
    min-width: 100%;
  }
  .placeholder-image1 {
    flex: 1;
  }
  .placeholder-image-group {
    flex-wrap: wrap;
  }
  .placeholder-image2 {
    flex: 1;
  }
  .placeholder-image-container {
    flex-wrap: wrap;
  }
  .frame-parent48 {
    min-width: 100%;
  }
  .frame-parent47,
  .frame-parent48 {
    gap: var(--gap-base);
  }
  .frame-parent45 {
    gap: var(--gap-xl);
  }
  .blog-inner {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-12xl);
    box-sizing: border-box;
  }
  .stay-in-the2 {
    font-size: var(--font-size-19xl);
    line-height: 42px;
  }
  .div5 {
    gap: var(--gap-base);
  }
  .stay-in-loop-wrapper {
    padding-left: var(--padding-12xl);
    padding-right: var(--padding-15xl);
    box-sizing: border-box;
  }
  .input-parent {
    flex-wrap: wrap;
  }
  .frame-parent50 {
    gap: var(--gap-lgi);
  }
  .footer {
    gap: var(--gap-xl);
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
  .blog {
    gap: 27px;
  }
}
@media screen and (max-width: 450px) {
  .heading2 {
    font-size: var(--font-size-10xl);
    line-height: 38px;
  }
  .heading3 {
    font-size: 19px;
    line-height: 26px;
  }
  .heading4 {
    font-size: var(--body-base-regular-size);
    line-height: 26px;
  }
  .content13 {
    gap: var(--gap-6xl);
  }
  .heading5 {
    font-size: var(--body-base-regular-size);
    line-height: 26px;
  }
  .content15 {
    gap: var(--gap-6xl);
  }
  .blog-inner {
    padding-bottom: 33px;
    box-sizing: border-box;
  }
  .stay-in-the2 {
    font-size: var(--font-size-10xl);
    line-height: 32px;
  }
  .stay-in-loop {
    padding-top: var(--padding-33xl);
    padding-bottom: var(--padding-33xl);
    box-sizing: border-box;
  }
  .frame-parent51 {
    flex-wrap: wrap;
  }
  .frame-parent49 {
    gap: var(--gap-lgi);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}

</style>


<style>
	body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --body-base-regular: "Euclid Circular B";
  --desktop-bold-h2: Nunito;
  --text-small-normal: Roboto;

  /* font sizes */
  --body-base-regular-size: 16px;
  --desktop-bold-h2-size: 36px;
  --font-size-10xl: 29px;
  --font-size-lg: 18px;
  --text-small-normal-size: 14px;
  --body-xl-semibold-size: 20px;
  --body-sm-regular-size: 12px;
  --desktop-medium-h1-size: 48px;
  --font-size-19xl: 38px;
  --desktop-medium-h4-size: 24px;

  /* Colors */
  --white: #fff;
  --monochrome-nuetral-600: #595959;
  --primary-600: #0095d4;
  --primary-800: #00648d;
  --primary-400: #2ccfff;
  --color: #0fc3ff;
  --color-deepskyblue-100: #00abe6;
  --color2: #064283;
  --primary-950: #20265a;
  --color1: #00234c;
  --neutral-grey-50: #d9d9d9;
  --neutral-grey-70: #8c8c8c;
  --monochrome-nuetral-black: #0c0f27;
  --black: #000;
  --off-white: #f5f5f5;
  --light-grey: #f4f4f4;
  --primary-50: #effaff;
  --secondary-50: #fcf9ee;
  --secondary-300: #edde9a;
  --bg-50: #e9faff;

  /* Gaps */
  --gap-21xl: 40px;
  --gap-xl: 20px;
  --gap-5xs: 8px;
  --gap-mid: 17px;
  --gap-5xl: 24px;
  --gap-xs: 12px;
  --gap-3xs: 10px;
  --gap-base: 16px;
  --gap-lgi: 19px;
  --gap-19xl: 38px;
  --gap-13xl: 32px;
  --gap-31xl: 50px;
  --gap-6xl: 25px;
  --gap-9xs: 4px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-24xl: 43px;
  --padding-7xs: 6px;
  --padding-11xs: 2px;
  --padding-xs-5: 11.5px;
  --padding-15xl: 34px;
  --padding-8xl: 27px;
  --padding-5xl: 24px;
  --padding-79xl: 98px;
  --padding-30xl: 49px;
  --padding-mini-5: 14.5px;
  --padding-xs: 12px;
  --padding-smi: 13px;
  --padding-4xs: 9px;
  --padding-10xs: 3px;
  --padding-8xs: 5px;
  --padding-13xl: 32px;
  --padding-32xl: 51px;
  --padding-2xs: 11px;
  --padding-5xs: 8px;
  --padding-9xs: 4px;
  --padding-118xl: 137px;
  --padding-49xl: 68px;
  --padding-44xl: 63px;
  --padding-12xl: 31px;
  --padding-33xl: 52px;
  --padding-46xl: 65px;
  --padding-base: 16px;
  --padding-3xs: 10px;

  /* Border radiuses */
  --br-xs: 12px;
  --br-37xl: 56px;
  --br-5xs: 8px;
}

</style>