<div id="main" >
 <%= render 'layouts/nav' %>
</div> 
<section class="bg-[#00234c] text-white" style="font-family: 'Nunito', sans-serif;">
    <div class="container flex flex-col-reverse lg:flex-row justify-center p-6 mx-auto sm:py-12 lg:py-24 lg:justify-between">
        <div class="flex flex-col justify-center p-6 text-center rounded-sm lg:max-w-md xl:max-w-lg lg:text-left">
            <h1 class="text-5xl font-bold leading-none sm:text-6xl">Embrace the
                <span class="text-[#0fc3ff]"><i>Real Future,</i> </span>Today
            </h1>
            <p class="mt-6 mb-8 text-lg sm:mb-12">A cutting-edge digital solution that empowers real estate investors with Secure, Accessible and Affordable investment opportunities globally.
                
            </p>

            <button class="mx-auto flex items-left justify-start rounded-full">
              <div class="relative z-10 flex w-full cursor-pointer items-center overflow-hidden rounded-full border border-[#00234c] p-[1.5px]">
                <div class="animate-rotate absolute inset-0 h-full w-full rounded-full bg-[conic-gradient(#0ea5e9_20deg,transparent_120deg)]"></div>
                <a href="#target-section">
                  <div class="relative z-20 flex w-full rounded-full bg-[#00234c] p-2">
                    <span class="relative z-50 flex items-center justify-center rounded-lg border border-[#00234c] bg-[#00234c] px-8 py-3 text-center text-sm text-white shadow-2xl transition duration-200 hover:bg-opacity-80">
                      Watch Intro 
                      
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-left: 8px">
                      <path d="M7.99998 14.6667C11.6819 14.6667 14.6666 11.6819 14.6666 8.00001C14.6666 4.31811 11.6819 1.33334 7.99998 1.33334C4.31808 1.33334 1.33331 4.31811 1.33331 8.00001C1.33331 11.6819 4.31808 14.6667 7.99998 14.6667Z" stroke="#E9FAFF" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M6.33331 5.9769C6.33331 5.65871 6.33331 5.49961 6.39981 5.4108C6.45775 5.33339 6.54646 5.28497 6.6429 5.27808C6.75357 5.27017 6.8874 5.35621 7.15505 5.52827L10.3021 7.55138C10.5344 7.70069 10.6505 7.77534 10.6906 7.87027C10.7257 7.95321 10.7257 8.04681 10.6906 8.12975C10.6505 8.22468 10.5344 8.29933 10.3021 8.44864L7.15505 10.4718C6.8874 10.6438 6.75357 10.7298 6.6429 10.7219C6.54646 10.7151 6.45775 10.6666 6.39981 10.5892C6.33331 10.5004 6.33331 10.3413 6.33331 10.0231V5.9769Z" stroke="#E9FAFF" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>



                    </span>
                  </div>
                </a>
              </div>
            </button>

        </div>
        <div class="flex items-center justify-center p-6 mt-8 lg:mt-0 h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128">
            <%= image_tag "hero2.gif", class:"rounded-full object-contain h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128" %>
        </div>

    </div>
</section>


<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20" style="font-family: 'Nunito', sans-serif;">
       
      <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">

        <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-[#04344d] sm:text-4xl md:mx-auto" style="font-family: 'Nunito', sans-serif;">
          <span class="relative inline-block">
            
            <%= image_tag "public/logo-faded.png", class:"absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block" %>
            
            <span class="relative">About us</span>
          </span>
          
        </h2>
        <p  class="text-base text-[#04344d] md:text-lg" style="font-family: 'Nunito', sans-serif;">
          Reblox facilitates the seamless digitization of real estate assets, allowing for fractional ownership. Investors gain access to a transparent and secure ecosystem, enabling diversified participation in the real estate market. The platform enhances liquidity, promotes global accessibility, and ensures regulatory compliance, providing a cutting-edge solution for modern real estate investment
        </p>
      </div>

      
  <div class="grid gap-8 row-gap-5 lg:grid-cols-3">
    <div class="relative p-px overflow-hidden transition duration-300 transform border rounded-lg shadow-sm hover:scale-105 group hover:shadow-xl hover:bg-[#00234c] hover:text-white ">
      <div class="absolute bottom-0 left-0 w-full h-1 duration-300 origin-left transform scale-x-0 bg-deep-purple-accent-400 group-hover:scale-x-100"></div>
      <div class="absolute bottom-0 left-0 w-1 h-full duration-300 origin-bottom transform scale-y-0 bg-deep-purple-accent-400 group-hover:scale-y-100"></div>
      <div class="absolute top-0 left-0 w-full h-1 duration-300 origin-right transform scale-x-0 bg-deep-purple-accent-400 group-hover:scale-x-100"></div>
      <div class="absolute bottom-0 right-0 w-1 h-full duration-300 origin-top transform scale-y-0 bg-deep-purple-accent-400 group-hover:scale-y-100"></div>
      <div class="relative p-5 bg-[#e9faff] hover:bg-[#00234c] hover:text-white  rounded-sm">
        <div class="flex flex-col mb-2 lg:items-center lg:flex-row">
          <div class="flex items-center justify-center w-10 h-10 mb-4 mr-2 rounded-full bg-indigo-50 lg:mb-0">
            <svg width="75" height="75" viewBox="0 0 75 75" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="37.5" cy="37.5" r="37.5" fill="#DEF4FF"/>
            <path opacity="0.28" d="M37.4998 14.3517C24.7155 14.3517 14.3517 24.7155 14.3517 37.4998C14.3517 50.2842 24.7155 60.648 37.4998 60.648C50.2842 60.648 60.648 50.2842 60.648 37.4998C60.648 24.7155 50.2842 14.3517 37.4998 14.3517Z" fill="#EFFAFF"/>
            <path d="M39.1092 28.1982C38.0632 27.8583 36.9364 27.8583 35.8903 28.1982C35.1891 28.426 34.6188 28.8212 34.0939 29.2668C33.5965 29.6891 33.0382 30.2474 32.3911 30.8945L30.8939 32.3917C30.2468 33.0388 29.6885 33.5971 29.2662 34.0945C28.8205 34.6195 28.4254 35.1897 28.1975 35.8909C27.8577 36.937 27.8577 38.0638 28.1975 39.1098C28.4254 39.811 28.8205 40.3813 29.2662 40.9063C29.6885 41.4037 30.2468 41.9619 30.8939 42.609L32.3911 44.1062C33.0382 44.7533 33.5965 45.3116 34.0939 45.7339C34.6188 46.1796 35.1891 46.5748 35.8903 46.8026C36.9364 47.1425 38.0632 47.1425 39.1092 46.8026C39.8104 46.5748 40.3807 46.1796 40.9057 45.7339C41.4031 45.3116 41.9613 44.7534 42.6084 44.1062L44.1056 42.609C44.7527 41.9619 45.311 41.4037 45.7333 40.9063C46.179 40.3813 46.5741 39.811 46.802 39.1098C47.1419 38.0638 47.1419 36.937 46.802 35.8909C46.5741 35.1897 46.179 34.6195 45.7333 34.0945C45.311 33.5971 44.7527 33.0388 44.1056 32.3917L42.6084 30.8945C41.9613 30.2474 41.4031 29.6891 40.9057 29.2668C40.3807 28.8212 39.8104 28.426 39.1092 28.1982Z" fill="#0FC3FF"/>
            </svg>




          </div>
          
        </div>
       
        <br>
        <svg width="87" height="16" viewBox="0 0 87 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 7C0.447715 7 0 7.44772 0 8C0 8.55228 0.447715 9 1 9V7ZM86.7071 8.70711C87.0976 8.31658 87.0976 7.68342 86.7071 7.29289L80.3431 0.928932C79.9526 0.538408 79.3195 0.538408 78.9289 0.928932C78.5384 1.31946 78.5384 1.95262 78.9289 2.34315L84.5858 8L78.9289 13.6569C78.5384 14.0474 78.5384 14.6805 78.9289 15.0711C79.3195 15.4616 79.9526 15.4616 80.3431 15.0711L86.7071 8.70711ZM1 9H86V7H1V9Z" fill="#008000"/>
          </svg>
          <br>
           <div>
          <h6 class="font-semibold leading-5"style="font-family: 'Nunito', sans-serif;"> Our Mission</h6>

        </div>
          <br>

        <p class="mb-2 text-sm "style="font-family: 'Nunito', sans-serif;">
          To democratize global real estate access and empower individuals to control their financial future. 
        </p>
        
      </div>
    </div>  

    <div class="relative p-px overflow-hidden transition duration-300 transform border rounded-lg shadow-sm hover:scale-105 group hover:shadow-xl hover:bg-[#00234c] hover:text-white">
      <div class="absolute bottom-0 left-0 w-full h-1 duration-300 origin-left transform scale-x-0 bg-deep-purple-accent-400 group-hover:scale-x-100"></div>
      <div class="absolute bottom-0 left-0 w-1 h-full duration-300 origin-bottom transform scale-y-0 bg-deep-purple-accent-400 group-hover:scale-y-100"></div>
      <div class="absolute top-0 left-0 w-full h-1 duration-300 origin-right transform scale-x-0 bg-deep-purple-accent-400 group-hover:scale-x-100"></div>
      <div class="absolute bottom-0 right-0 w-1 h-full duration-300 origin-top transform scale-y-0 bg-deep-purple-accent-400 group-hover:scale-y-100"></div>
      <div class="relative p-5 bg-[#e9faff] hover:bg-[#00234c] hover:text-white rounded-sm">
        <div class="flex flex-col mb-2 lg:items-center lg:flex-row">
          <div class="flex items-center justify-center w-10 h-10 mb-4 mr-2 rounded-full bg-indigo-50 lg:mb-0">
            <svg width="75" height="75" viewBox="0 0 75 75" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="37.5" cy="37.5" r="37.5" fill="#DEF4FF"/>
            <path opacity="0.28" d="M41.3653 39.4727L43 47.0003C38.7136 44.3361 35.2864 44.3361 31 47.0003L32.6347 39.4727" stroke="#00234C" stroke-width="2.41901" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M36.9999 26.0001C32.5817 26.0001 28.9999 29.5818 28.9999 34.0001C28.9999 38.4183 32.5817 42.0001 36.9999 42.0001C41.4182 42.0001 44.9999 38.4183 44.9999 34.0001C44.9999 29.5818 41.4182 26.0001 36.9999 26.0001Z" fill="#0FC3FF"/>
            </svg>




          </div>
          
        </div>
       
        <br>
        <svg width="87" height="16" viewBox="0 0 87 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 7C0.447715 7 0 7.44772 0 8C0 8.55228 0.447715 9 1 9V7ZM86.7071 8.70711C87.0976 8.31658 87.0976 7.68342 86.7071 7.29289L80.3431 0.928932C79.9526 0.538408 79.3195 0.538408 78.9289 0.928932C78.5384 1.31946 78.5384 1.95262 78.9289 2.34315L84.5858 8L78.9289 13.6569C78.5384 14.0474 78.5384 14.6805 78.9289 15.0711C79.3195 15.4616 79.9526 15.4616 80.3431 15.0711L86.7071 8.70711ZM1 9H86V7H1V9Z" fill="#008000"/>
          </svg>
          <br>
           <div>
          <h6 class="font-semibold leading-5 " style="font-family: 'Nunito', sans-serif;"> Our Vision</h6>

        </div>
          <br>

        <p class="mb-2 text-sm ">
          To be the world’s premier leader, offering unparalleled security, accessibility and affordability in fractional investment solutions for real estate assets across the globe.
        </p>
        
      </div>
    </div>   

    <div class="relative p-px overflow-hidden transition duration-300 transform border rounded-lg shadow-sm hover:scale-105 group hover:shadow-xl hover:bg-[#00234c] hover:text-white">
      <div class="absolute bottom-0 left-0 w-full h-1 duration-300 origin-left transform scale-x-0 bg-deep-purple-accent-400 group-hover:scale-x-100"></div>
      <div class="absolute bottom-0 left-0 w-1 h-full duration-300 origin-bottom transform scale-y-0 bg-deep-purple-accent-400 group-hover:scale-y-100"></div>
      <div class="absolute top-0 left-0 w-full h-1 duration-300 origin-right transform scale-x-0 bg-deep-purple-accent-400 group-hover:scale-x-100"></div>
      <div class="absolute bottom-0 right-0 w-1 h-full duration-300 origin-top transform scale-y-0 bg-deep-purple-accent-400 group-hover:scale-y-100"></div>
      <div class="relative p-5 bg-[#e9faff] hover:bg-[#00234c] hover:text-white rounded-sm">
        <div class="flex flex-col mb-2 lg:items-center lg:flex-row">
          <div class="flex items-center justify-center w-10 h-10 mb-4 mr-2 rounded-full bg-indigo-50 lg:mb-0">
            <svg width="75" height="75" viewBox="0 0 75 75" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="37.5" cy="37.5" r="37.5" fill="#DEF4FF"/>
            <path opacity="0.28" d="M37.4998 14.3517C24.7155 14.3517 14.3517 24.7155 14.3517 37.4998C14.3517 50.2842 24.7155 60.648 37.4998 60.648C50.2842 60.648 60.648 50.2842 60.648 37.4998C60.648 24.7155 50.2842 14.3517 37.4998 14.3517Z" fill="#E9FAFF"/>
            <path opacity="0.28" d="M35.1742 40.8334H31.3333C27.4213 40.8334 24.25 44.0047 24.25 47.9167C24.25 50.2639 26.1528 52.1667 28.5 52.1667H37.8241C36.2171 50.66 34.1667 48.0766 34.1667 44.5915C34.1667 43.1674 34.5438 41.9021 35.1742 40.8334Z" fill="#00234C"/>
            <path d="M29.9166 30.9167C29.9166 27.0047 33.0879 23.8334 37 23.8334C40.912 23.8334 44.0833 27.0047 44.0833 30.9167C44.0833 34.8287 40.912 38 37 38C33.0879 38 29.9166 34.8287 29.9166 30.9167Z" fill="#0FC3FF"/>
            <path d="M44.0789 40.4679C44.8054 40.0204 45.6211 39.859 46.3699 39.8696C48.7023 39.9024 51.1666 41.754 51.1666 44.5915C51.1666 47.144 49.5037 49.1552 48.0589 50.412C47.3083 51.0649 46.5399 51.5825 45.9102 51.942C45.5958 52.1215 45.301 52.2702 45.0466 52.379C44.9206 52.4329 44.7881 52.4841 44.6578 52.5243C44.5619 52.5538 44.3406 52.6191 44.0833 52.6191C43.826 52.6191 43.6047 52.5538 43.5088 52.5243C43.3785 52.4841 43.246 52.4329 43.12 52.379C42.8656 52.2702 42.5708 52.1215 42.2564 51.942C41.6267 51.5825 40.8583 51.0649 40.1077 50.412C38.6629 49.1552 37 47.144 37 44.5915C37 41.7695 39.4505 39.8694 41.8166 39.8694C42.5346 39.8694 43.3478 40.0236 44.0789 40.4679Z" fill="#0FC3FF"/>
            </svg>



          </div>
          
        </div>
       
        <br>
        <svg width="87" height="16" viewBox="0 0 87 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 7C0.447715 7 0 7.44772 0 8C0 8.55228 0.447715 9 1 9V7ZM86.7071 8.70711C87.0976 8.31658 87.0976 7.68342 86.7071 7.29289L80.3431 0.928932C79.9526 0.538408 79.3195 0.538408 78.9289 0.928932C78.5384 1.31946 78.5384 1.95262 78.9289 2.34315L84.5858 8L78.9289 13.6569C78.5384 14.0474 78.5384 14.6805 78.9289 15.0711C79.3195 15.4616 79.9526 15.4616 80.3431 15.0711L86.7071 8.70711ZM1 9H86V7H1V9Z" fill="#008000"/>
          </svg>
          <br>
           <div>
          <h6 class="font-semibold  leading-5"> Our Values</h6>

        </div>
          <br>

        <p class="mb-2 text-sm">
          Together we strive to deliver a reliable product and services, foster a resilient team, and cultivate a relatable experience for our customers. 
        </p>
        
      </div>
    </div>    
  </div>
   </div>
</div>



<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20" style="font-family: 'Nunito', sans-serif;">
  <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">

    <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-[#04344d] sm:text-4xl md:mx-auto" style="font-family: 'Nunito', sans-serif;">
      <span class="relative inline-block">
        
        <%= image_tag "public/logo-faded.png", class:"absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block" %>
        
        <span class="relative">Introducing Reblox</span>
      </span>
      
    </h2>
    <p id="target-section" class="text-base text-[#04344d] md:text-lg" style="font-family: 'Nunito', sans-serif;">
      Unlock the Real Future with Reblox
    </p>
  </div>
  <div  class="mx-auto lg:max-w-2xl">
    
</div>
<script src="https://fast.wistia.com/embed/medias/8ofss99b1q.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
<div class="wistia_responsive_padding rounded-lg" style="padding:56.25% 0 0 0;position:relative;">
  <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
    <div class="wistia_embed wistia_async_8ofss99b1q seo=true videoFoam=true" style="height:100%;position:relative;width:100%">
      <div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
        <img class="rounded-lg" src="https://fast.wistia.com/embed/medias/8ofss99b1q/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" />
</div>
</div>
</div>
</div>

</div>

<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20" style="font-family: 'Nunito', sans-serif;">
  <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">

    <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-[#04344d] sm:text-4xl md:mx-auto" style="font-family: 'Nunito', sans-serif;">
      <span class="relative inline-block">
       
        <%= image_tag "public/logo-faded.png", class:"absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block" %>
        <span class="relative" style="font-family: 'Nunito', sans-serif;">Highlights</span>
      </span>

    </h2>
    <p class="text-base text-[#04344d] md:text-lg" style="font-family: 'Nunito', sans-serif;">
      Features and Benefits
    </p>
  </div>
  <div class="grid gap-5 mb-8 md:grid-cols-2 lg:grid-cols-3">
    <div class="p-5 duration-300 transform bg-white border rounded-lg shadow-sm hover:-translate-y-2">
      <div class="flex items-center justify-center w-12 h-12 mb-4 rounded-full bg-indigo-50">
        <svg width="70" height="69" viewBox="0 0 70 69" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="35" cy="34.5" r="34.5" fill="#CEF3FF"/>
        <path d="M43.74 31.7583V27.5815C43.74 26.2843 43.1512 25.7599 41.6884 25.7599H37.9716C36.5088 25.7599 35.92 26.2843 35.92 27.5815V31.7491C35.92 33.0555 36.5088 33.5707 37.9716 33.5707H41.6884C43.1512 33.5799 43.74 33.0555 43.74 31.7583Z" stroke="#595959" stroke-width="1.38" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M43.74 42.1084V38.3916C43.74 36.9288 43.1512 36.34 41.6884 36.34H37.9716C36.5088 36.34 35.92 36.9288 35.92 38.3916V42.1084C35.92 43.5712 36.5088 44.16 37.9716 44.16H41.6884C43.1512 44.16 43.74 43.5712 43.74 42.1084Z" stroke="#595959" stroke-width="1.38" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M33.16 31.7583V27.5815C33.16 26.2843 32.5712 25.7599 31.1084 25.7599H27.3916C25.9288 25.7599 25.34 26.2843 25.34 27.5815V31.7491C25.34 33.0555 25.9288 33.5707 27.3916 33.5707H31.1084C32.5712 33.5799 33.16 33.0555 33.16 31.7583Z" stroke="#595959" stroke-width="1.38" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M33.16 42.1084V38.3916C33.16 36.9288 32.5712 36.34 31.1084 36.34H27.3916C25.9288 36.34 25.34 36.9288 25.34 38.3916V42.1084C25.34 43.5712 25.9288 44.16 27.3916 44.16H31.1084C32.5712 44.16 33.16 43.5712 33.16 42.1084Z" stroke="#595959" stroke-width="1.38" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>

      </div>
      <h6 class="mb-2 font-semibold leading-5" style="font-family: 'Nunito', sans-serif;">Fractional ownership</h6>
      <p class="text-sm text-[#04344d]" style="font-family: 'Nunito', sans-serif;">
        Split large property investments into smaller, more affordable tokens, opening up real estate investment opportunities to a wider audience and promoting wealth democratization.
      </p>
    </div>
    <div class="p-5 duration-300 transform bg-white border rounded-lg shadow-sm hover:-translate-y-2">
      <div class="flex items-center justify-center w-12 h-12 mb-4 rounded-full bg-indigo-50">
        <svg width="70" height="69" viewBox="0 0 70 69" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="35" cy="34.5" r="34.5" fill="#CEF3FF"/>
        <path d="M31.52 25.84L26.13 30.04C25.23 30.74 24.5 32.23 24.5 33.36V40.77C24.5 43.09 26.39 44.99 28.71 44.99H40.29C42.61 44.99 44.5 43.09 44.5 40.78V33.5C44.5 32.29 43.69 30.74 42.7 30.05L36.52 25.72C35.12 24.74 32.87 24.79 31.52 25.84Z" stroke="#595959" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M39 34.5L34.8 38.7L33.2 36.3L30 39.5" stroke="#595959" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M37 34.5H39V36.5" stroke="#595959" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>

      </div>
      <h6 class="mb-2 font-semibold leading-5" style="font-family: 'Nunito', sans-serif;">Liquidity boost</h6>
      <p class="text-sm text-[#04344d]" style="font-family: 'Nunito', sans-serif;">
        Selling property tokens can be faster than selling the whole thing, making it easier to get money when needed.
      </p>
    </div>
    <div class="p-5 duration-300 transform bg-white border rounded-lg shadow-sm hover:-translate-y-2">
      <div class="flex items-center justify-center w-12 h-12 mb-4 rounded-full bg-indigo-50">
        <svg width="70" height="69" viewBox="0 0 70 69" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="35" cy="34.5" r="34.5" fill="#CEF3FF"/>
        <path d="M28.59 36.28H31.68V43.48C31.68 45.16 32.59 45.5 33.7 44.24L41.27 35.64C42.2 34.59 41.81 33.72 40.4 33.72H37.31V26.52C37.31 24.84 36.4 24.5 35.29 25.76L27.72 34.36C26.8 35.42 27.19 36.28 28.59 36.28Z" stroke="#595959" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>

      </div>
      <h6 class="mb-2 font-semibold leading-5" style="font-family: 'Nunito', sans-serif;">Efficiency</h6>
      <p class="text-sm text-[#04344d]" style="font-family: 'Nunito', sans-serif;">
        Streamlined property transactions minimize paperwork, offering swift and hassle-free processes, reducing wait times, and cutting intermediary costs.
      </p>
    </div>
    <div class="p-5 duration-300 transform bg-white border rounded-lg shadow-sm hover:-translate-y-2">
      <div class="flex items-center justify-center w-12 h-12 mb-4 rounded-full bg-indigo-50">
        <svg width="70" height="69" viewBox="0 0 70 69" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="35" cy="34.5" r="34.5" fill="#CEF3FF"/>
        <path d="M43.7566 34.5501V31.1201C43.7566 29.8901 42.8166 28.5301 41.6666 28.1001L36.6766 26.2301C35.8466 25.9201 34.4866 25.9201 33.6566 26.2301L28.6666 28.1101C27.5166 28.5401 26.5766 29.9001 26.5766 31.1201V38.5501C26.5766 39.7301 27.3566 41.2801 28.3066 41.9901L32.6066 45.2001C33.3066 45.7401 34.2366 46.0001 35.1666 46.0001" stroke="#595959" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M39.1666 44C41.3758 44 43.1666 42.2091 43.1666 40C43.1666 37.7909 41.3758 36 39.1666 36C36.9575 36 35.1666 37.7909 35.1666 40C35.1666 42.2091 36.9575 44 39.1666 44Z" stroke="#595959" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M44.1621 45H44.1711" stroke="#595959" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>

      </div>
      <h6 class="mb-2 font-semibold leading-5">Security and Transparency</h6>
      <p class="text-sm text-[#04344d]">
        Invest with confidence knowing that Blockchain keeps a clear record of each property's history, making it easy to trust. Real estate deals are safer and more honest, with less risk of cheating.
      </p>
    </div>
    <div class="p-5 duration-300 transform bg-white border rounded-lg shadow-sm hover:-translate-y-2">
      <div class="flex items-center justify-center w-12 h-12 mb-4 rounded-full bg-indigo-50">
        <svg width="70" height="69" viewBox="0 0 70 69" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="35" cy="34.5" r="34.5" fill="#CEF3FF"/>
        <path d="M40.5 30.16C40.44 30.15 40.37 30.15 40.31 30.16C38.93 30.11 37.83 28.98 37.83 27.58C37.83 26.15 38.98 25 40.41 25C41.84 25 42.99 26.16 42.99 27.58C42.98 28.98 41.88 30.11 40.5 30.16Z" stroke="#595959" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M39.47 37.44C40.84 37.67 42.35 37.43 43.41 36.72C44.82 35.78 44.82 34.24 43.41 33.3C42.34 32.59 40.81 32.35 39.44 32.59" stroke="#595959" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M28.47 30.16C28.53 30.15 28.6 30.15 28.66 30.16C30.04 30.11 31.14 28.98 31.14 27.58C31.14 26.15 29.99 25 28.56 25C27.13 25 25.98 26.16 25.98 27.58C25.99 28.98 27.09 30.11 28.47 30.16Z" stroke="#595959" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M29.5 37.44C28.13 37.67 26.62 37.43 25.56 36.72C24.15 35.78 24.15 34.24 25.56 33.3C26.63 32.59 28.16 32.35 29.53 32.59" stroke="#595959" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M34.5 37.63C34.44 37.62 34.37 37.62 34.31 37.63C32.93 37.58 31.83 36.45 31.83 35.05C31.83 33.62 32.98 32.47 34.41 32.47C35.84 32.47 36.99 33.63 36.99 35.05C36.98 36.45 35.88 37.59 34.5 37.63Z" stroke="#595959" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M31.59 40.78C30.18 41.72 30.18 43.26 31.59 44.2C33.19 45.27 35.81 45.27 37.41 44.2C38.82 43.26 38.82 41.72 37.41 40.78C35.82 39.72 33.19 39.72 31.59 40.78Z" stroke="#595959" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>

      </div>
      <h6 class="mb-2 font-semibold leading-5">Accessibility</h6>
      <p class="text-sm text-[#04344d]">
        Now, anyone worldwide has the opportunity to invest in premium properties they couldn't afford before, making the real estate market truly global.
      </p>
    </div>
    <div class="p-5 duration-300 transform bg-white border rounded-lg shadow-sm hover:-translate-y-2">
      <div class="flex items-center justify-center w-12 h-12 mb-4 rounded-full bg-indigo-50">
        <svg width="70" height="69" viewBox="0 0 70 69" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="35" cy="34.5" r="34.5" fill="#CEF3FF"/>
        <path d="M43.5101 41.5101L38.5601 36.5601" stroke="#595959" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M38.56 36.56L35.02 40.1C34.24 40.88 32.97 40.88 32.19 40.1L27.95 35.86C27.17 35.08 27.17 33.81 27.95 33.03L35.02 25.96C35.8 25.18 37.07 25.18 37.85 25.96L42.09 30.2C42.87 30.98 42.87 32.25 42.09 33.03L38.56 36.56Z" stroke="#595959" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M25.5 44H31.5" stroke="#595959" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M30.0601 30.92L37.1301 37.99" stroke="#595959" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>

      </div>
      <h6 class="mb-2 font-semibold leading-5">Decentralized Governance</h6>
      <p class="text-sm text-[#04344d]">
        You have a say in how 'your' real estate assets are managed and governed
      </p>
    </div>
  </div>
<!--   <div class="text-center">
    <a
      href="/"
      class="inline-flex items-center justify-center w-full h-12 px-6 font-medium tracking-wide text-white transition duration-200 rounded shadow-md md:w-auto bg-deep-purple-accent-400 hover:bg-deep-purple-accent-700 focus:shadow-outline focus:outline-none"
    >
      Learn more
    </a>
  </div> -->
</div>

        <%= render 'layouts/success' %>
  

<!-- accord -->

<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20" style="font-family: 'Nunito', sans-serif;">
  <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">

    <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-[#04344d] sm:text-4xl md:mx-auto" style="font-family: 'Nunito', sans-serif;">
      <span class="relative inline-block">
        
        <%= image_tag "public/logo-faded.png", class:"absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block" %>
        
        <span class="relative">We are Looking Ahead for You</span>
      </span>
      
    </h2>
    <p class="text-base text-[#04344d] md:text-lg" style="font-family: 'Nunito', sans-serif;">
     Potential Risk and Mitigation Strategies
    </p>
  </div>
  <div class="w-full mx-auto lg:w-2xl">
    <div class="w-full divide-y divide-slate-300 text-black divide-slate-700 text-black">
        <div x-data="{ isExpanded: false }"
        x-on:mouseover="isExpanded = true"
        x-on:mouseleave="isExpanded = false">
            <button id="controlsAccordionItemOne" type="button" class="flex w-full items-center justify-between gap-4 py-4 text-left underline-offset-2 focus-visible:underline focus-visible:outline-none" aria-controls="accordionItemOne" @click="isExpanded = ! isExpanded" :class="isExpanded ? 'text-onSurfaceStrong text-onSurfaceDarkStrong font-bold text-2xl'  : 'text-onSurface text-onSurfaceDark text-2xl '" :aria-expanded="isExpanded ? 'true' : 'false'"> 
                1. Risk associated with regulatory uncertainties
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke="#036701" class="size-5 shrink-0 transition" aria-hidden="true" :class="isExpanded  ?  'rotate-180'  :  ''">
                   <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"/>
                </svg>

            </button>
            <div x-cloak x-show="isExpanded" id="accordionItemOne" role="region" aria-labelledby="controlsAccordionItemOne" x-collapse>
                <div class="pb-4 text-sm sm:text-base text-pretty">
                    <div class="flex flex-col gap-6 self-stretch">
                      <div class="flex gap-6 self-stretch">
                        <div class="flex justify-center gap-[5px] self-stretch bg-[#0fc3ff] p-2.5 rounded-2xl">
               
                        </div>
                        <span class="text-[24px] text-[#0fc3ff]">We conduct thorough legal due diligence for each property to ensure compliance and minimize legal risks, engaging with regulators to establish clear legal frameworks, and collaborating with industry stakeholders to address common challenges, staying updated on regulatory changes, diversifying property jurisdictions, and provide hybrid models with traditional financing options to  provide flexibility and enhance investor confidence</span></div></div>
                        <br>

                        <div class="flex flex-col gap-6 self-stretch">
                          <div class="flex gap-6 self-stretch">
                            <div class="flex justify-center gap-[5px] self-stretch bg-[#0fc3ff] p-2.5 rounded-2xl">
                              
                             
                            </div>
                            <span class="text-[24px] text-[#0fc3ff]">Investors are encouraged to diversify real estate portfolio to spread risk across different assets and locations.</span></div></div>


                </div>
            </div>
        </div>

        <div x-data="{ isExpanded: false }"
        x-on:mouseover="isExpanded = true"
        x-on:mouseleave="isExpanded = false">
            <button id="controlsAccordionItemOne" type="button" class="flex w-full items-center justify-between gap-4 py-4 text-left underline-offset-2 focus-visible:underline focus-visible:outline-none" aria-controls="accordionItemOne" @click="isExpanded = ! isExpanded" :class="isExpanded ? 'text-onSurfaceStrong text-onSurfaceDarkStrong font-bold text-2xl'  : 'text-onSurface text-onSurfaceDark text-2xl '" :aria-expanded="isExpanded ? 'true' : 'false'"> 
                2. Market volatility impacting token values
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke="#036701" class="size-5 shrink-0 transition" aria-hidden="true" :class="isExpanded  ?  'rotate-180'  :  ''">
                   <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"/>
                </svg>

            </button>
            <div x-cloak x-show="isExpanded" id="accordionItemOne" role="region" aria-labelledby="controlsAccordionItemOne" x-collapse>
                <div class="pb-4 text-sm sm:text-base text-pretty">
                    <div class="flex flex-col gap-6 self-stretch">
                      <div class="flex gap-6 self-stretch">
                        <div class="flex justify-center gap-[5px] self-stretch bg-[#0fc3ff] p-2.5 rounded-2xl">

                        </div>
                        <span class="text-[24px] text-[#0fc3ff]">We provide real time market data, communicating clear exit strategies, and stablecoin or asset-backed tokenization options to our investors. Maintain transparent communication with investors, providing regular updates and clear information on token performance.</span></div></div>
                    <br>
        
                        <div class="flex flex-col gap-6 self-stretch">
                          <div class="flex gap-6 self-stretch">
                            <div class="flex justify-center gap-[5px] self-stretch bg-[#0fc3ff] p-2.5 rounded-2xl">
                              
                             
                            </div>
                            <span class="text-[24px] text-[#0fc3ff]">Investors are encouraged to regularly monitor market trends and adapting strategies accordingly, diversify asset types, and implement liquidity measures such as token buybacks or reserve funds,</span></div></div>


                </div>
            </div>
        </div>

       <div x-data="{ isExpanded: false }"
        x-on:mouseover="isExpanded = true"
        x-on:mouseleave="isExpanded = false"> <button id="controlsAccordionItemOne" type="button" class="flex w-full items-center justify-between gap-4 py-4 text-left underline-offset-2 focus-visible:underline focus-visible:outline-none" aria-controls="accordionItemOne" @click="isExpanded = ! isExpanded" :class="isExpanded ? 'text-onSurfaceStrong text-onSurfaceDarkStrong font-bold text-2xl'  : 'text-onSurface text-onSurfaceDark text-2xl '" :aria-expanded="isExpanded ? 'true' : 'false'"> 
                3. Smart contract vulnerabilities
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke="#036701" class="size-5 shrink-0 transition" aria-hidden="true" :class="isExpanded  ?  'rotate-180'  :  ''">
                   <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"/>
                </svg>

            </button>
            <div x-cloak x-show="isExpanded" id="accordionItemOne" role="region" aria-labelledby="controlsAccordionItemOne" x-collapse>
                <div class="pb-4 text-sm sm:text-base text-pretty">
                    <div class="flex flex-col gap-6 self-stretch">
                      <div class="flex gap-6 self-stretch">
                        <div class="flex justify-center gap-[5px] self-stretch bg-[#0fc3ff] p-2.5 rounded-2xl">
                          
                          
                        </div>
                        <span class="text-[24px] text-[#0fc3ff]">We employ rigorous code audits by experienced professionals, use well-established and audited smart contract frameworks, implement multi-signature authentication for critical transactions, maintain open-source transparency for community scrutiny, and establish emergency response plans in case of detected vulnerabilities. Additionally, we provide insurance coverage for potential losses due to smart contract vulnerabilities.</span></div></div>

                </div>
            </div>
        </div>

        <div x-data="{ isExpanded: false }"
        x-on:mouseover="isExpanded = true"
        x-on:mouseleave="isExpanded = false">
            <button id="controlsAccordionItemOne" type="button" class="flex w-full items-center justify-between gap-4 py-4 text-left underline-offset-2 focus-visible:underline focus-visible:outline-none" aria-controls="accordionItemOne" @click="isExpanded = ! isExpanded" :class="isExpanded ? 'text-onSurfaceStrong text-onSurfaceDarkStrong font-bold text-2xl'  : 'text-onSurface text-onSurfaceDark text-2xl '" :aria-expanded="isExpanded ? 'true' : 'false'"> 
                4. Potential security breaches that may compromise the digital representation of real assets
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke="#036701" class="size-5 shrink-0 transition" aria-hidden="true" :class="isExpanded  ?  'rotate-180'  :  ''">
                   <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"/>
                </svg>

            </button>
            <div x-cloak x-show="isExpanded" id="accordionItemOne" role="region" aria-labelledby="controlsAccordionItemOne" x-collapse>
                <div class="pb-4 text-sm sm:text-base text-pretty">
                    <div class="flex flex-col gap-6 self-stretch">
                      <div class="flex gap-6 self-stretch">
                        <div class="flex justify-center gap-[5px] self-stretch bg-[#0fc3ff] p-2.5 rounded-2xl">

                        </div>
                        <span class="text-[24px] text-[#0fc3ff]">We implement robust cybersecurity measures such as encryption, multi-factor authentication, regular security audits, and penetration testing. Utilize secure storage solutions for digital assets, such as cold wallets or hardware security modules. Additionally, we ensure comprehensive employee training on cybersecurity best practices and establish incident response protocols to swiftly address and mitigate any breaches.</span></div></div>


                </div>
            </div>
        </div>

        <div x-data="{ isExpanded: false }"
        x-on:mouseover="isExpanded = true"
        x-on:mouseleave="isExpanded = false">
            <button id="controlsAccordionItemOne" type="button" class="flex w-full items-center justify-between gap-4 py-4 text-left underline-offset-2 focus-visible:underline focus-visible:outline-none" aria-controls="accordionItemOne" @click="isExpanded = ! isExpanded" :class="isExpanded ? 'text-onSurfaceStrong text-onSurfaceDarkStrong font-bold text-2xl'  : 'text-onSurface text-onSurfaceDark text-2xl '" :aria-expanded="isExpanded ? 'true' : 'false'"> 
                5. Issues related to liquidity and adoption 
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke="#036701" class="size-5 shrink-0 transition" aria-hidden="true" :class="isExpanded  ?  'rotate-180'  :  ''">
                   <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"/>
                </svg>

            </button>
            <div x-cloak x-show="isExpanded" id="accordionItemOne" role="region" aria-labelledby="controlsAccordionItemOne" x-collapse>
                <div class="pb-4 text-sm sm:text-base text-pretty">
                    <div class="flex flex-col gap-6 self-stretch">
                      <div class="flex gap-6 self-stretch">
                        <div class="flex justify-center gap-[5px] self-stretch bg-[#0fc3ff] p-2.5 rounded-2xl">
    
                        </div>
                        <span class="text-[24px] text-[#0fc3ff]">We foster liquidity through secondary trading platforms and Liquidity pools. We continue to incentivize adoption through education and awareness campaigns.</span>
                      </div>
                    </div>
                </div>
            </div>
        </div>
   

    </div>
    </div>
    <br>    <br>    <br>
    <%= render 'layouts/loop' %>
    
</div>




<%= render 'layouts/blog' %>

<div></div>
<%= render 'layouts/contact' %>

<%= render 'layouts/footer' %>

    <style>
        .floating-toast {
            position: fixed;
            top:75%;
            right: 20px; /* Adjust distance from right edge */
            transform: translateY(-50%);
            background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
            padding: 10px 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: background-color 0.3s ease;
            width: 250px;
        }

        .floating-toast:hover {
            background-color: rgba(255, 255, 255, 0.95); /* Darker on hover */
        }

        .toast-content {
            flex: 1;
            margin-right: 10px;
        }

        .toast-text {
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            color: #065374;
        }

        .arrow-icon {
            width: 20px;
            height: 20px;
        }

        .arrow-icon svg {
            width: 100%;
            height: 100%;
            fill: #065374;
            transition: fill 0.3s ease;
        }

        .floating-toast:hover .arrow-icon svg {
            fill: #00234c; /* Darker color on hover */
        }
    </style>


<div class="floating-toast" onclick="window.location.href = '/surveys/new';">
    <div class="toast-content">
        <div class="toast-text">Will you take a survey to help us serve you better and improve our website</div>
    </div>
    <div class="arrow-icon">
    


<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="20" cy="20" r="20" fill="#E7F3E7"/>
<path d="M25 28C25 27.258 25.733 26.15 26.475 25.22C27.429 24.02 28.569 22.973 29.876 22.174C30.856 21.575 32.044 21 33 21M33 21C32.044 21 30.855 20.425 29.876 19.826C28.569 19.026 27.429 17.979 26.475 16.781C25.733 15.85 25 14.74 25 14M33 21L9 21" stroke="#12A00F"/>
</svg>

    </div>
</div>

</body>
</html>







