<p style="color: green"><%= notice %></p>

<%= render @stay %>

<div>
  <%= link_to "Edit this stay", edit_stay_path(@stay) %> |
  <%= link_to "Back to stays", stays_path %>

  <%= button_to "Destroy this stay", @stay, method: :delete %>
</div>
