<p style="color: green"><%= notice %></p>

<%= render @contact_u %>

<div>
  <%= link_to "Edit this contact u", edit_contact_u_path(@contact_u) %> |
  <%= link_to "Back to contact us", contact_us_path %>

  <%= button_to "Destroy this contact u", @contact_u, method: :delete %>
</div>
