<%= form_with(model: stayintheloop) do |form| %>
  <% if stayintheloop.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(stayintheloop.errors.count, "error") %> prohibited this stayintheloop from being saved:</h2>

      <ul>
        <% stayintheloop.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div id="bodyloop" class="loop-container">
    <div class="loop-header">
        <span class="loop-title">Stay in the loop</span>
        <span class="loop-subtitle">Stay ahead of the curve with inspiring content, special insights and industry trends tailored to your investment journey in the ever-evolving digital landscape.</span>
    </div>
    <div class="loop-form-container">
        <%= form.text_field :name, class:'loop-input-field', placeholder:'Enter Full Name' %>
       <%= form.email_field :email, class:'loop-input-field', placeholder:'Enter Email Address' %>
        <%= form.submit "Stay in the Loop", class:'loop-submit-button'  %>
    </div>
</div>
<% end %>