<%= form_with(model: survey) do |form| %>
  <% if survey.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
        <% survey.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap"
    />
 
    <div class="survey ">
      <header class="flex justify-center survey-inner">
        <div class="justify-center frame-parent">
          <div class="logo-in-png-wrapper">
           
             <%= image_tag "public/logo-in-png@2x.png", class:"logo-in-png" %>
          </div>

          <h1 class="heading">
            Survey on Real Estate Tokenization and Fractional Investment
          </h1>
        </div>
      </header>
      <section class="survey-child">
        <div class="logo-in-png-parent">
          <%= image_tag "public/logo-in-png-1@2x.png", class:"logo-in-png1" %>
         

          <div class="frame-group">
            <div class="content-parent">
              <div class="content">
                <b class="introduction">Introduction</b>
              </div>
              <div class="content1">
                <p class="reblox-is-dedicated">
                  Reblox is dedicated to revolutionizing the traditional real
                  estate landscape through technology. Your feedback is crucial
                  in helping us to achieve our goal.
                </p>
              </div>
            </div>
            <div class="content-group">
              <div class="content2">
                <b class="objectives">Objectives</b>
              </div>
              <div class="content3">
                <p class="thank-you-for">
                  Thank you for participating in this survey. This survey aims
                  to understand your investment preferences, challenges, and
                  expectations regarding real estate investment.
                </p>
              </div>
            </div>
            <div class="content-container">
              <div class="content4">
                <b class="instructions">Instructions</b>
              </div>
              <div class="content5">
                <p class="please-answer-each">
                  Please answer each question to the best of your ability. Your
                  honest feedback is greatly appreciated and will help us tailor
                  our offerings to better meet your needs.
                </p>
              </div>
            </div>
            <div class="frame-div">
              <div class="content6">
                <b class="confidentiality">Confidentiality</b>
              </div>
              <div class="content7">
                <p class="your-privacy-is">
                  Your privacy is important to us, and all data will be handled
                  with utmost confidentiality. By proceeding with this survey,
                  you consent to the use of your responses for research
                  purposes. Your participation is voluntary, and you may
                  withdraw at any time.
                </p>
              </div>
            </div>
            <div class="content-parent1">
              <div class="content8">
                <b class="timing">Timing</b>
              </div>
              <div class="content9">
                <p class="the-estimated-duration">
                  The estimated duration to complete this survey is
                  approximately 5-10 minutes. 
                </p>
              </div>
            </div>
            <div class="content-parent2">
              <div class="content10">
                <b class="feedback">Feedback</b>
              </div>
              <div class="content11">
                <p class="for-any-survey-related-container">
                  <span
                    >For any survey-related inquiries or concerns, please reach
                    out to the founder, Patience Dogo (Queenpat), at
                  </span>
                  <span class="patiencedogo600gmailcom">patiencedogo600@gmail.com</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="survey-questions-parent">
        <b class="survey-questions">Survey Questions</b>
        <div class="inputs-parent">
          <div class="inputs">
            <div class="input">
              <b class="email-address">
                <ol class="email-address1">
                  <li>Email address</li>
                </ol>
              </b>
              <%= form.email_field :email, class:"w-full input1", placeholder: 'Enter Email Address' %>
             
            </div>
          </div>

           <div class="inputs1">
            <div class="input2">
              <div class="please-select-the-container">
                <ol class="please-select-the-option-that">
                  <li>
                    Please select the option that best represents your age
                  </li>
                </ol>
              </div>
              <div class="frame-container">
              <div class="frame-parent5">
              <%= form.radio_button :age, "18-24 years old" %>
              <%= form.label :age_18, "18-24 years old" %>
              </div>
              <div class="frame-parent5">
              <%= form.radio_button :age, "25-34 years old" %>
              <%= form.label :age_25, "25-34 years old" %>
              </div>
              <div class="frame-parent5">
              <%= form.radio_button :age, "35-44 years old" %>
              <%= form.label :age_38, "35-44 years old" %>
              </div>
              <div class="frame-parent5">
              <%= form.radio_button :age, "45-54 years old" %>
              <%= form.label :age_45, "45-54 years old" %>
              </div>
              <div class="frame-parent5">
              <%= form.radio_button :age, "55 years old and above" %>
              <%= form.label :age_55, "55 years old and above" %>
              </div>
                
              </div>
            </div>
          </div>

          <div class="inputs">
            <div class="input">
              <b class="email-address">
                <ol class="email-address1">
                  <li>Please share your current location, including the state and country name (e.g., F.C.T., Nigeria) </li>
                </ol>
              </b>
              <%= form.text_field :location, class:"w-full input1", placeholder: 'Enter Location' %>
             
            </div>
          </div>

          <div class="inputs1">
            <div class="input2">
              <div class="please-select-the-container">
                <ol class="please-select-the-option-that">
                  <li>
                    Have you previously invested in real estate?
                  </li>
                </ol>
              </div>
              <div class="frame-container">
              <div class="frame-parent5">
              <%= form.radio_button :invested, "Yes" %>
              <%= form.label :invested_18, "Yes" %>
              </div>
              <div class="frame-parent5">
              <%= form.radio_button :invested, "No" %>
              <%= form.label :invested_25, "No" %>
              </div>

                
              </div>
              <%= form.text_field :ifso, class:"w-full input1", placeholder: 'If so, what has been your experience?' %>
            </div>
          </div>

          <div class="inputs1">
            <div class="input2">
              <div class="please-select-the-container">
                <ol class="please-select-the-option-that">
                  <li>
                    What are your primary goals or objectives when investing in real estate?
                  </li>
                </ol>
              </div>
              <div class="frame-container">
              <div class="frame-parent5">
              <%= form.radio_button :goals, "Income generation through rental properties" %>
              <%= form.label :goals_ini, "Income generation through rental properties" %>
              </div>
              <div class="frame-parent5">
              <%= form.radio_button :goals, "Long-term wealth accumulation" %>
              <%= form.label :goals_finl, "Long-term wealth accumulation" %>
              </div>
              <div class="frame-parent5">
              <%= form.radio_button :goals, "Portfolio diversification and stability" %>
              <%= form.label :goals_del, "Portfolio diversification and stability" %>
              </div>
              <div class="frame-parent5">
              <%= form.radio_button :goals, "Tax benefits and deductions" %>
              <%= form.label :goals_reg, "Tax benefits and deductions" %>
              </div>
              <div class="frame-parent5">
              <%= form.radio_button :goals, "Asset protection against inflation" %>
              <%= form.label :goals_bal, "Asset protection against inflation" %>
              </div>
              <div class="frame-parent5">
              <%= form.radio_button :goals, "Other" %>
              <%= form.label :goals_other, "Other" %>
              </div>

              </div>
            </div>
          </div>

          <div class="inputs1">
            <div class="input2">
              <div class="please-select-the-container">
                <ol class="please-select-the-option-that">
                  <li>
                    What are the main challenges or obstacles you face when considering real estate investment opportunities?
                  </li>
                </ol>
              </div>
              <div class="frame-container">
              <div class="frame-parent5">
              <%= form.radio_button :challenge, "Initial capital requirements" %>
              <%= form.label :challengee_ini, "Initial capital requirements" %>
              </div>
              <div class="frame-parent5">
              <%= form.radio_button :challenge, "Finding suitable properties in competitive markets" %>
              <%= form.label :challenge_finl, "Finding suitable properties in competitive markets" %>
              </div>
              <div class="frame-parent5">
              <%= form.radio_button :challenge, "Dealing with property management and tenant issues" %>
              <%= form.label :challengee_del, "Dealing with property management and tenant issues" %>
              </div>
              <div class="frame-parent5">
              <%= form.radio_button :challenge, "Regulatory compliance and legal complexities" %>
              <%= form.label :challenge_reg, "Regulatory compliance and legal complexities" %>
              </div>
              <div class="frame-parent5">
              <%= form.radio_button :challenge, "Balancing risk and return on investment" %>
              <%= form.label :challenge_bal, "Balancing risk and return on investment" %>
              </div>
              <div class="frame-parent5">
              <%= form.radio_button :challenge, "Other" %>
              <%= form.label :challenge_other, "Other" %>
              </div>
                
              </div>
            </div>
          </div>
          <div class="inputs">
            <div class="input">
              <b class="email-address">
                <ol class="email-address1">
                  <li> How are you currently addressing these challenges? Are there any existing solutions you're using? </li>
                </ol>
              </b>
              <%= form.text_field :solution, class:"w-full input1", placeholder: 'Answer' %>
             
            </div>
          </div>
          <div class="inputs">
            <div class="input">
              <b class="email-address">
                <ol class="email-address1">
                  <li>How would you describe your ideal solution to the problem(s) mentioned above? </li>
                </ol>
              </b>
              <%= form.text_field :solution_desc, class:"w-full input1", placeholder: 'Answer' %>
             
            </div>
          </div>
          <div class="inputs1">
            <div class="input2">
              <div class="please-select-the-container">
                <ol class="please-select-the-option-that">
                  <li>
                    How comfortable are you with the idea of investing in real estate assets digitally?
                  </li>
                </ol>
              </div>
              <div class="frame-container">
              <div class="frame-parent5">
              <%= form.radio_button :comfort, "Not comfortable" %>
              <%= form.label :comfort_not, "Not comfortable" %>
              </div>
              <div class="frame-parent5">
              <%= form.radio_button :comfort, "Slightly comfortable" %>
              <%= form.label :comfort_sly, "Slightly comfortable" %>
              </div>
               <div class="frame-parent5">
              <%= form.radio_button :comfort, "Moderately comfortable" %>
              <%= form.label :comfort_mod, "Moderately comfortable" %>
              </div>
              <div class="frame-parent5">
              <%= form.radio_button :comfort, "Very comfortable" %>
              <%= form.label :comfort_very, "Very comfortable" %>
              </div>
               <div class="frame-parent5">
              <%= form.radio_button :comfort, "Extremely comfortable" %>
              <%= form.label :comfort_ex, "Extremely comfortable" %>
              </div>
              
              </div>
            </div>
          </div>
          <div class="inputs1">
            <div class="input2">
              <div class="please-select-the-container">
                <ol class="please-select-the-option-that">
                  <li>
                    How important is liquidity and the ability to efficiently buy and sell fractional real estate shares to you?
                  </li>
                </ol>
              </div>
              <div class="frame-container">
              <div class="frame-parent5">
              <%= form.radio_button :liquidity, "Not comfortable" %>
              <%= form.label :liquidity_not, "Not comfortable" %>
              </div>
              <div class="frame-parent5">
              <%= form.radio_button :liquidity, "Slightly comfortable" %>
              <%= form.label :liquidity_sly, "Slightly comfortable" %>
              </div>
               <div class="frame-parent5">
              <%= form.radio_button :liquidity, "Moderately comfortable" %>
              <%= form.label :liquidity_mod, "Moderately comfortable" %>
              </div>
              <div class="frame-parent5">
              <%= form.radio_button :liquidity, "Very comfortable" %>
              <%= form.label :liquidity_very, "Very comfortable" %>
              </div>
               <div class="frame-parent5">
              <%= form.radio_button :liquidity, "Extremely comfortable" %>
              <%= form.label :liquidity_ex, "Extremely comfortable" %>
              </div>
              
              </div>
            </div>
          </div>
          <div class="inputs1">
            <div class="input2">
              <div class="please-select-the-container">
                <ol class="please-select-the-option-that">
                  <li>
                    What budget range are you willing to invest in real estate tokenization and fractional investments?
                  </li>
                </ol>
              </div>
              <div class="frame-container">
              <div class="frame-parent5">
              <%= form.radio_button :range, "$50 - $1000" %>
              <%= form.label :range_50, "$50 - $1000" %>
              </div>
              <div class="frame-parent5">
              <%= form.radio_button :range, "$10,000 - 100,000" %>
              <%= form.label :range_10k, "$10,000 - 100,000" %>
              </div>
               <div class="frame-parent5">
              <%= form.radio_button :range, "$100,000 - $500,000" %>
              <%= form.label :range_1h, "$100,000 - $500,000" %>
              </div>
              <div class="frame-parent5">
              <%= form.radio_button :range, "$500,000 - $1,000,000" %>
              <%= form.label :range_5h, "$500,000 - $1,000,000" %>
              </div>
               <div class="frame-parent5">
              <%= form.radio_button :range, "$1,000,000 and above" %>
              <%= form.label :range_1m, "$1,000,000 and above" %>
              </div>
              </div>
            </div>
          </div>
          <div class="inputs1">
            <div class="input2">
              <div class="please-select-the-container">
                <ol class="please-select-the-option-that">
                  <li>
                    Ready to secure your early bird spot on our exclusive investor's waitlist and gain priority access to our upcoming product launch?
                  </li>
                </ol>
              </div>
              <div class="frame-container">
              <div class="frame-parent5">
              <%= form.radio_button :ready, "Absolutely! I'm ready to spread my wings and join the early bird club. Let's tweet about it " %>
              <%= form.label :ready_yes, "Absolutely! I'm ready to spread my wings and join the early bird club. Let's tweet about it " %>
              </div>
              <div class="frame-parent5">
              <%= form.radio_button :ready, "Not at this time, but thank you for the offer" %>
              <%= form.label :ready_no, "Not at this time, but thank you for the offer" %>
              </div>
                
              </div>
            </div>
          </div>


        </div>
      </section>
      <div class="button-wrapper">
        <%= form.submit "Submit", class: 'bg-[#0fc3ff] text-white rounded-full px-4 py-2 hover:bg-opacity-80' %>
      </div>
      <section class="frame-section">
        <div class="heading-parent">
          <b class="heading1">Thank You</b>
          <div class="we-sincerely-appreciate-your-p-wrapper">
            <p class="we-sincerely-appreciate">
              We sincerely appreciate your participation in this survey. Your
              insights are invaluable in shaping the future of real estate
              investment opportunities with Reblox
            </p>
          </div>
        </div>
      </section>
    </div>

 
  

  <div>
    
  </div>
<% end %>





<style>
  .logo-in-png {
    height: 55.1px;
    width: 224px;
    position: relative;
    object-fit: cover;
  }
  .logo-in-png-wrapper {
   
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
  }
  .heading {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    line-height: 110%;
    font-weight: 700;
    font-family: inherit;
  }
  .frame-parent,
  .survey-inner {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-width: 100%;
  }
  .frame-parent {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    gap: 41.9px;
  }
  .survey-inner {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    padding: 0 32px;
    box-sizing: border-box;
    text-align: center;
    font-size: var(--desktop-bold-h2-size);
    color: var(--primary-800);
    font-family: var(--body-base-regular);
  }
  .logo-in-png1 {
    height: 691px;
    width: 697px;
    position: absolute;
    margin: 0 !important;
    bottom: -132px;
    left: calc(50% - 348.5px);
    object-fit: cover;
  }
  .introduction {
    align-self: stretch;
    position: relative;
    line-height: 32px;
  }
  .content {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xs) 0;
  }
  .reblox-is-dedicated {
    margin: 0;
    align-self: stretch;
    position: relative;
    line-height: 24px;
  }
  .content-parent,
  .content1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .content1 {
    font-size: var(--body-base-regular-size);
    color: var(--monochrome-nuetral-600);
  }
  .content-parent {
    padding: 0;
  }
  .objectives {
    align-self: stretch;
    position: relative;
    line-height: 32px;
  }
  .content2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xs) 0;
  }
  .thank-you-for {
    margin: 0;
    align-self: stretch;
    position: relative;
    line-height: 24px;
  }
  .content-group,
  .content3 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .content3 {
    font-size: var(--body-base-regular-size);
    color: var(--monochrome-nuetral-600);
  }
  .content-group {
    padding: 0;
  }
  .instructions {
    align-self: stretch;
    position: relative;
    line-height: 32px;
  }
  .content4 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xs) 0;
  }
  .please-answer-each {
    margin: 0;
    align-self: stretch;
    position: relative;
    line-height: 24px;
  }
  .content-container,
  .content5 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .content5 {
    font-size: var(--body-base-regular-size);
    color: var(--monochrome-nuetral-600);
  }
  .content-container {
    padding: 0;
  }
  .confidentiality {
    align-self: stretch;
    position: relative;
    line-height: 32px;
  }
  .content6 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xs) 0;
  }
  .your-privacy-is {
    margin: 0;
    align-self: stretch;
    position: relative;
    line-height: 24px;
  }
  .content7,
  .frame-div {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .content7 {
    font-size: var(--body-base-regular-size);
    color: var(--monochrome-nuetral-600);
  }
  .frame-div {
    padding: 0;
  }
  .timing {
    align-self: stretch;
    position: relative;
    line-height: 32px;
  }
  .content8 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xs) 0;
  }
  .the-estimated-duration {
    margin: 0;
    align-self: stretch;
    position: relative;
    line-height: 24px;
  }
  .content-parent1,
  .content9 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .content9 {
    font-size: var(--body-base-regular-size);
    color: var(--monochrome-nuetral-600);
  }
  .content-parent1 {
    padding: 0;
  }
  .feedback {
    align-self: stretch;
    position: relative;
    line-height: 32px;
  }
  .content10 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xs) 0;
  }
  .patiencedogo600gmailcom {
    color: var(--color);
  }
  .for-any-survey-related-container {
    margin: 0;
    align-self: stretch;
    position: relative;
    line-height: 24px;
  }
  .content-parent2,
  .content11 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .content11 {
    font-size: var(--body-base-regular-size);
    color: var(--monochrome-nuetral-600);
  }
  .content-parent2 {
    padding: 0;
  }
  .frame-group,
  .logo-in-png-parent,
  .survey-child {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-group {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-xs);
    z-index: 1;
  }
  .logo-in-png-parent,
  .survey-child {
    flex-direction: row;
  }
  .logo-in-png-parent {
    flex: 1;
    justify-content: flex-start;
    position: relative;
  }
  .survey-child {
    align-self: stretch;
    justify-content: flex-end;
    padding: 0 var(--padding-11xs) 9px 3px;
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--black);
    font-family: var(--body-base-regular);
  }
  .survey-questions {
    align-self: stretch;
    position: relative;
    line-height: 32px;
    z-index: 1;
  }
  .email-address1 {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-5xl);
  }
  .email-address {
    position: relative;
    line-height: 150%;
    font-weight: 600;
  }
  .enter-email-address {
    width: 128px;
    border: 0;
    outline: 0;
    font-family: var(--body-base-regular);
    font-size: var(--font-size-sm);
    background-color: transparent;
    height: 21px;
    position: relative;
    line-height: 150%;
    color: var(--neutral-grey-50);
    text-align: left;
    display: flex;
    align-items: center;
    padding: 0;
  }
  .input,
  .input1,
  .inputs {
    display: flex;
    justify-content: flex-start;
  }
  .input1 {
    align-self: stretch;
    border-bottom: 1px solid var(--neutral-grey-50);
    flex-direction: row;
    align-items: center;
    padding: var(--padding-mini-5) var(--padding-xs) var(--padding-smi);
  }
  .input,
  .inputs {
    align-items: flex-start;
    max-width: 100%;
  }
  .input {
    flex: 1;
    flex-direction: column;
    padding: 0 var(--padding-79xl) 0 0;
    box-sizing: border-box;
    gap: var(--gap-xs);
  }
  .inputs {
    align-self: stretch;
    flex-direction: row;
  }
  .please-select-the-option-that {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-5xl);
  }
  .please-select-the-container {
    position: relative;
    line-height: 150%;
    font-weight: 600;
    display: inline-block;
    max-width: 100%;
  }
  .frame-child {
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    border: 0 solid var(--primary-400);
    box-sizing: border-box;
  }
  .frame-item {
    height: 8px;
    width: 8px;
    position: absolute;
    margin: 0 !important;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    background-color: var(--color);
    z-index: 1;
  }
  .ellipse-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-3xs);
  }
  .years-old {
    position: relative;
    line-height: 24px;
    display: inline-block;
    min-width: 115px;
  }
  .frame-parent1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  .frame-inner {
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    border: 0 solid var(--primary-400);
    box-sizing: border-box;
  }
  .ellipse-div {
    height: 8px;
    width: 8px;
    position: absolute;
    margin: 0 !important;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    z-index: 1;
  }
  .ellipse-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-3xs);
  }
  .years-old1 {
    position: relative;
    line-height: 24px;
    display: inline-block;
    min-width: 116px;
  }
  .frame-parent2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .frame-child1 {
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    border: 0 solid var(--primary-400);
    box-sizing: border-box;
  }
  .frame-child2 {
    height: 8px;
    width: 8px;
    position: absolute;
    margin: 0 !important;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    z-index: 1;
  }
  .ellipse-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-3xs);
  }
  .years-old2 {
    position: relative;
    line-height: 24px;
    display: inline-block;
    min-width: 117px;
  }
  .frame-parent3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .frame-child3 {
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    border: 0 solid var(--primary-400);
    box-sizing: border-box;
  }
  .frame-child4 {
    height: 8px;
    width: 8px;
    position: absolute;
    margin: 0 !important;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    z-index: 1;
  }
  .ellipse-parent1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-3xs);
  }
  .years-old3 {
    position: relative;
    line-height: 24px;
    display: inline-block;
    min-width: 116px;
  }
  .frame-parent4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .frame-child5 {
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    border: 0 solid var(--primary-400);
    box-sizing: border-box;
  }
  .frame-child6 {
    height: 8px;
    width: 8px;
    position: absolute;
    margin: 0 !important;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    z-index: 1;
  }
  .ellipse-parent2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-3xs);
  }
  .years-old-and {
    position: relative;
    line-height: 24px;
  }
  .frame-parent5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .frame-container,
  .input2,
  .inputs1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-container {
    flex-direction: column;
    padding: 0 var(--padding-8xl);
    gap: var(--gap-5xs);
    font-size: var(--body-base-regular-size);
    color: var(--monochrome-nuetral-600);
  }
  .input2,
  .inputs1 {
    max-width: 100%;
  }
  .input2 {
    flex: 1;
    flex-direction: column;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
    gap: var(--gap-xs);
  }
  .inputs1 {
    align-self: stretch;
    flex-direction: row;
  }
  .please-share-your-current-loca {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-5xl);
  }
  .please-share-your-container {
    position: relative;
    line-height: 150%;
    font-weight: 600;
    display: inline-block;
    max-width: 100%;
  }
  .enter-location {
    width: 91px;
    border: 0;
    outline: 0;
    font-family: var(--body-base-regular);
    font-size: var(--font-size-sm);
    background-color: transparent;
    height: 21px;
    position: relative;
    line-height: 150%;
    color: var(--neutral-grey-50);
    text-align: left;
    display: flex;
    align-items: center;
    padding: 0;
  }
  .input3,
  .input4,
  .inputs2 {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
  }
  .input4 {
    width: 747px;
    border-bottom: 1px solid var(--neutral-grey-50);
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    padding: var(--padding-mini-5) var(--padding-xs) var(--padding-smi);
  }
  .input3,
  .inputs2 {
    align-items: flex-start;
  }
  .input3 {
    flex: 1;
    flex-direction: column;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
    gap: var(--gap-xs);
  }
  .inputs2 {
    align-self: stretch;
    flex-direction: row;
  }
  .have-you-previously-invested-i {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-5xl);
  }
  .have-you-previously-container {
    position: relative;
    line-height: 150%;
    font-weight: 600;
    display: inline-block;
    max-width: 100%;
  }
  .frame-child7 {
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    border: 0 solid var(--primary-400);
    box-sizing: border-box;
  }
  .frame-child8 {
    height: 8px;
    width: 8px;
    position: absolute;
    margin: 0 !important;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    background-color: var(--color);
    z-index: 1;
  }
  .ellipse-parent3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-3xs);
  }
  .yes {
    position: relative;
    line-height: 24px;
    display: inline-block;
    min-width: 26px;
  }
  .frame-parent7 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .frame-child9 {
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    border: 0 solid var(--primary-400);
    box-sizing: border-box;
  }
  .frame-child10 {
    height: 8px;
    width: 8px;
    position: absolute;
    margin: 0 !important;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    z-index: 1;
  }
  .ellipse-parent4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-3xs);
  }
  .no {
    position: relative;
    line-height: 24px;
    display: inline-block;
    min-width: 23px;
  }
  .frame-parent6,
  .frame-parent8 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .frame-parent6 {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 var(--padding-8xl);
    gap: var(--gap-5xs);
    font-size: var(--body-base-regular-size);
    color: var(--monochrome-nuetral-600);
  }
  .if-so-what {
    position: relative;
    line-height: 150%;
  }
  .input5,
  .input6,
  .inputs3 {
    display: flex;
    justify-content: flex-start;
  }
  .input6 {
    align-self: stretch;
    border-bottom: 1px solid var(--neutral-grey-50);
    flex-direction: row;
    align-items: center;
    padding: var(--padding-mini-5) var(--padding-xs) var(--padding-smi);
    font-size: var(--font-size-sm);
    color: var(--neutral-grey-70);
  }
  .input5,
  .inputs3 {
    align-items: flex-start;
    max-width: 100%;
  }
  .input5 {
    flex: 1;
    flex-direction: column;
    padding: 0 var(--padding-79xl) 0 0;
    box-sizing: border-box;
    gap: var(--gap-xs);
  }
  .inputs3 {
    align-self: stretch;
    flex-direction: row;
  }
  .what-are-your-primary-goals-or {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-5xl);
  }
  .what-are-your-container {
    position: relative;
    line-height: 150%;
    font-weight: 600;
    display: inline-block;
    max-width: 100%;
  }
  .frame-child11 {
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    border: 0 solid var(--primary-400);
    box-sizing: border-box;
  }
  .frame-child12 {
    height: 8px;
    width: 8px;
    position: absolute;
    margin: 0 !important;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    background-color: var(--color);
    z-index: 1;
  }
  .ellipse-parent5 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-3xs);
  }
  .income-generation-through {
    flex: 1;
    position: relative;
    line-height: 24px;
    display: inline-block;
    min-width: 218px;
    max-width: 100%;
  }
  .frame-parent10 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
    max-width: 100%;
  }
  .frame-child13 {
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    border: 0 solid var(--primary-400);
    box-sizing: border-box;
  }
  .frame-child14 {
    height: 8px;
    width: 8px;
    position: absolute;
    margin: 0 !important;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    z-index: 1;
  }
  .ellipse-parent6 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-3xs);
  }
  .long-term-wealth-accumulation {
    position: relative;
    line-height: 24px;
  }
  .frame-parent11 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .frame-child15 {
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    border: 0 solid var(--primary-400);
    box-sizing: border-box;
  }
  .frame-child16 {
    height: 8px;
    width: 8px;
    position: absolute;
    margin: 0 !important;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    z-index: 1;
  }
  .ellipse-parent7 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-3xs);
  }
  .portfolio-diversification-and {
    flex: 1;
    position: relative;
    line-height: 24px;
  }
  .frame-parent12 {
    width: 303px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .frame-child17 {
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    border: 0 solid var(--primary-400);
    box-sizing: border-box;
  }
  .frame-child18 {
    height: 8px;
    width: 8px;
    position: absolute;
    margin: 0 !important;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    z-index: 1;
  }
  .ellipse-parent8 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-3xs);
  }
  .tax-benefits-and {
    position: relative;
    line-height: 24px;
  }
  .frame-parent13 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .frame-child19 {
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    border: 0 solid var(--primary-400);
    box-sizing: border-box;
  }
  .frame-child20 {
    height: 8px;
    width: 8px;
    position: absolute;
    margin: 0 !important;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    z-index: 1;
  }
  .ellipse-parent9 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-3xs);
  }
  .asset-protection-against {
    flex: 1;
    position: relative;
    line-height: 24px;
  }
  .frame-parent14 {
    width: 281px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .frame-child21 {
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    border: 0 solid var(--primary-400);
    box-sizing: border-box;
  }
  .frame-child22 {
    height: 8px;
    width: 8px;
    position: absolute;
    margin: 0 !important;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    z-index: 1;
  }
  .ellipse-parent10 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-3xs);
  }
  .other {
    position: relative;
    line-height: 24px;
    display: inline-block;
    min-width: 44px;
  }
  .frame-parent15 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .frame-parent9 {
    width: 420px;
    flex-direction: column;
    padding: 0 var(--padding-8xl);
    box-sizing: border-box;
    gap: var(--gap-5xs);
    font-size: var(--body-base-regular-size);
    color: var(--monochrome-nuetral-600);
  }
  .frame-parent9,
  .input7,
  .inputs4 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .input7 {
    flex: 1;
    flex-direction: column;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
    gap: var(--gap-xs);
  }
  .inputs4 {
    align-self: stretch;
    flex-direction: row;
  }
  .what-are-the-main-challenges-o {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-5xl);
  }
  .what-are-the-container {
    align-self: stretch;
    position: relative;
    line-height: 150%;
    font-weight: 600;
  }
  .frame-child23 {
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    border: 0 solid var(--primary-400);
    box-sizing: border-box;
  }
  .frame-child24 {
    height: 8px;
    width: 8px;
    position: absolute;
    margin: 0 !important;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    background-color: var(--color);
    z-index: 1;
  }
  .ellipse-parent11 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-3xs);
  }
  .initial-capital-requirements {
    position: relative;
    line-height: 24px;
  }
  .frame-parent17 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .frame-child25 {
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    border: 0 solid var(--primary-400);
    box-sizing: border-box;
  }
  .frame-child26 {
    height: 8px;
    width: 8px;
    position: absolute;
    margin: 0 !important;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    z-index: 1;
  }
  .ellipse-parent12 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-3xs);
  }
  .finding-suitable-properties {
    flex: 1;
    position: relative;
    line-height: 24px;
    display: inline-block;
    min-width: 245px;
    max-width: 100%;
  }
  .frame-parent18 {
    width: 407px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
    max-width: 100%;
  }
  .frame-child27 {
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    border: 0 solid var(--primary-400);
    box-sizing: border-box;
  }
  .frame-child28 {
    height: 8px;
    width: 8px;
    position: absolute;
    margin: 0 !important;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    z-index: 1;
  }
  .ellipse-parent13 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-3xs);
  }
  .dealing-with-property {
    flex: 1;
    position: relative;
    line-height: 24px;
    display: inline-block;
    min-width: 263px;
    max-width: 100%;
  }
  .frame-parent19 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
    max-width: 100%;
  }
  .frame-child29 {
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    border: 0 solid var(--primary-400);
    box-sizing: border-box;
  }
  .frame-child30 {
    height: 8px;
    width: 8px;
    position: absolute;
    margin: 0 !important;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    z-index: 1;
  }
  .ellipse-parent14 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-3xs);
  }
  .regulatory-compliance-and {
    flex: 1;
    position: relative;
    line-height: 24px;
    display: inline-block;
    min-width: 227px;
    max-width: 100%;
  }
  .frame-parent20 {
    width: 379px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
    max-width: 100%;
  }
  .frame-child31 {
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    border: 0 solid var(--primary-400);
    box-sizing: border-box;
  }
  .frame-child32 {
    height: 8px;
    width: 8px;
    position: absolute;
    margin: 0 !important;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    z-index: 1;
  }
  .ellipse-parent15 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-3xs);
  }
  .balancing-risk-and {
    flex: 1;
    position: relative;
    line-height: 24px;
    display: inline-block;
    min-width: 194px;
  }
  .frame-parent21 {
    width: 329px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
    max-width: 100%;
  }
  .frame-child33 {
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    border: 0 solid var(--primary-400);
    box-sizing: border-box;
  }
  .frame-child34 {
    height: 8px;
    width: 8px;
    position: absolute;
    margin: 0 !important;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    z-index: 1;
  }
  .ellipse-parent16 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-3xs);
  }
  .other1 {
    position: relative;
    line-height: 24px;
    display: inline-block;
    min-width: 44px;
  }
  .frame-parent22 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .frame-parent16 {
    width: 488px;
    flex-direction: column;
    padding: 0 var(--padding-8xl);
    box-sizing: border-box;
    gap: var(--gap-5xs);
    font-size: var(--body-base-regular-size);
    color: var(--monochrome-nuetral-600);
  }
  .frame-parent16,
  .input8,
  .inputs5 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .input8 {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-xs);
  }
  .inputs5 {
    align-self: stretch;
    flex-direction: row;
  }
  .how-are-you-currently-addressi {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-5xl);
  }
  .answer,
  .how-are-you-container {
    position: relative;
    line-height: 150%;
  }
  .how-are-you-container {
    font-weight: 600;
  }
  .answer {
    display: inline-block;
    min-width: 49px;
  }
  .input10,
  .input9,
  .inputs6 {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
  }
  .input10 {
    width: 747px;
    border-bottom: 1px solid var(--neutral-grey-50);
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    padding: var(--padding-mini-5) var(--padding-xs) var(--padding-smi);
    font-size: var(--font-size-sm);
    color: var(--neutral-grey-50);
  }
  .input9,
  .inputs6 {
    align-items: flex-start;
  }
  .input9 {
    flex: 1;
    flex-direction: column;
    padding: 0 var(--padding-smi) 0 0;
    box-sizing: border-box;
    gap: var(--gap-xs);
  }
  .inputs6 {
    align-self: stretch;
    flex-direction: row;
  }
  .how-would-you-describe-your-id {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-5xl);
  }
  .answer1,
  .how-would-you-container {
    position: relative;
    line-height: 150%;
    display: inline-block;
  }
  .how-would-you-container {
    font-weight: 600;
    max-width: 100%;
  }
  .answer1 {
    min-width: 49px;
  }
  .input11,
  .input12,
  .inputs7 {
    display: flex;
    justify-content: flex-start;
  }
  .input12 {
    align-self: stretch;
    border-bottom: 1px solid var(--neutral-grey-50);
    flex-direction: row;
    align-items: center;
    padding: var(--padding-mini-5) var(--padding-xs) var(--padding-smi);
    font-size: var(--font-size-sm);
    color: var(--neutral-grey-50);
  }
  .input11,
  .inputs7 {
    align-items: flex-start;
    max-width: 100%;
  }
  .input11 {
    flex: 1;
    flex-direction: column;
    padding: 0 var(--padding-79xl) 0 0;
    box-sizing: border-box;
    gap: var(--gap-xs);
  }
  .inputs7 {
    align-self: stretch;
    flex-direction: row;
  }
  .how-comfortable-are-you-with-t {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-5xl);
  }
  .how-comfortable-are-container {
    align-self: stretch;
    position: relative;
    line-height: 150%;
    font-weight: 600;
  }
  .frame-child35 {
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    border: 0 solid var(--primary-400);
    box-sizing: border-box;
  }
  .frame-child36 {
    height: 8px;
    width: 8px;
    position: absolute;
    margin: 0 !important;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    background-color: var(--color);
    z-index: 1;
  }
  .ellipse-parent17 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-3xs);
  }
  .not-comfortable {
    position: relative;
    line-height: 24px;
    display: inline-block;
    min-width: 126px;
  }
  .frame-parent24 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .frame-child37 {
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    border: 0 solid var(--primary-400);
    box-sizing: border-box;
  }
  .frame-child38 {
    height: 8px;
    width: 8px;
    position: absolute;
    margin: 0 !important;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    z-index: 1;
  }
  .ellipse-parent18 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-3xs);
  }
  .slightly-comfortable {
    position: relative;
    line-height: 24px;
  }
  .frame-parent25 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .frame-child39 {
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    border: 0 solid var(--primary-400);
    box-sizing: border-box;
  }
  .frame-child40 {
    height: 8px;
    width: 8px;
    position: absolute;
    margin: 0 !important;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    z-index: 1;
  }
  .ellipse-parent19 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-3xs);
  }
  .moderately-comfortable {
    position: relative;
    line-height: 24px;
  }
  .frame-parent26 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .frame-child41 {
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    border: 0 solid var(--primary-400);
    box-sizing: border-box;
  }
  .frame-child42 {
    height: 8px;
    width: 8px;
    position: absolute;
    margin: 0 !important;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    z-index: 1;
  }
  .ellipse-parent20 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-3xs);
  }
  .very-comfortable {
    position: relative;
    line-height: 24px;
  }
  .frame-parent27 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .frame-child43 {
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    border: 0 solid var(--primary-400);
    box-sizing: border-box;
  }
  .frame-child44 {
    height: 8px;
    width: 8px;
    position: absolute;
    margin: 0 !important;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    z-index: 1;
  }
  .ellipse-parent21 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-3xs);
  }
  .extremely-comfortable {
    position: relative;
    line-height: 24px;
  }
  .frame-parent28 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .frame-parent23,
  .input13,
  .inputs8 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent23 {
    flex-direction: column;
    padding: 0 var(--padding-8xl);
    gap: var(--gap-5xs);
    font-size: var(--body-base-regular-size);
    color: var(--monochrome-nuetral-600);
  }
  .input13,
  .inputs8 {
    max-width: 100%;
  }
  .input13 {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-xs);
  }
  .inputs8 {
    align-self: stretch;
    flex-direction: row;
  }
  .how-important-is-liquidity-and {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-5xl);
  }
  .how-important-is-container {
    align-self: stretch;
    position: relative;
    line-height: 150%;
    font-weight: 600;
  }
  .frame-child45 {
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    border: 0 solid var(--primary-400);
    box-sizing: border-box;
  }
  .frame-child46 {
    height: 8px;
    width: 8px;
    position: absolute;
    margin: 0 !important;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    background-color: var(--color);
    z-index: 1;
  }
  .ellipse-parent22 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-3xs);
  }
  .not-comfortable1 {
    position: relative;
    line-height: 24px;
    display: inline-block;
    min-width: 126px;
  }
  .frame-parent30 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .frame-child47 {
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    border: 0 solid var(--primary-400);
    box-sizing: border-box;
  }
  .frame-child48 {
    height: 8px;
    width: 8px;
    position: absolute;
    margin: 0 !important;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    z-index: 1;
  }
  .ellipse-parent23 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-3xs);
  }
  .slightly-comfortable1 {
    position: relative;
    line-height: 24px;
  }
  .frame-parent31 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .frame-child49 {
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    border: 0 solid var(--primary-400);
    box-sizing: border-box;
  }
  .frame-child50 {
    height: 8px;
    width: 8px;
    position: absolute;
    margin: 0 !important;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    z-index: 1;
  }
  .ellipse-parent24 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-3xs);
  }
  .moderately-comfortable1 {
    position: relative;
    line-height: 24px;
  }
  .frame-parent32 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .frame-child51 {
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    border: 0 solid var(--primary-400);
    box-sizing: border-box;
  }
  .frame-child52 {
    height: 8px;
    width: 8px;
    position: absolute;
    margin: 0 !important;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    z-index: 1;
  }
  .ellipse-parent25 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-3xs);
  }
  .very-comfortable1 {
    position: relative;
    line-height: 24px;
  }
  .frame-parent33 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .frame-child53 {
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    border: 0 solid var(--primary-400);
    box-sizing: border-box;
  }
  .frame-child54 {
    height: 8px;
    width: 8px;
    position: absolute;
    margin: 0 !important;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    z-index: 1;
  }
  .ellipse-parent26 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-3xs);
  }
  .extremely-comfortable1 {
    position: relative;
    line-height: 24px;
  }
  .frame-parent34 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .frame-parent29,
  .input14,
  .inputs9 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent29 {
    flex-direction: column;
    padding: 0 var(--padding-8xl);
    gap: var(--gap-5xs);
    font-size: var(--body-base-regular-size);
    color: var(--monochrome-nuetral-600);
  }
  .input14,
  .inputs9 {
    max-width: 100%;
  }
  .input14 {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-xs);
  }
  .inputs9 {
    align-self: stretch;
    flex-direction: row;
  }
  .what-budget-range-are-you-will {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-5xl);
  }
  .what-budget-range-container {
    position: relative;
    line-height: 150%;
    font-weight: 600;
  }
  .frame-child55 {
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    border: 0 solid var(--primary-400);
    box-sizing: border-box;
  }
  .frame-child56 {
    height: 8px;
    width: 8px;
    position: absolute;
    margin: 0 !important;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    background-color: var(--color);
    z-index: 1;
  }
  .ellipse-parent27 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-3xs);
  }
  .div {
    position: relative;
    line-height: 24px;
    display: inline-block;
    min-width: 89px;
    white-space: nowrap;
  }
  .frame-parent36 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .frame-child57 {
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    border: 0 solid var(--primary-400);
    box-sizing: border-box;
  }
  .frame-child58 {
    height: 8px;
    width: 8px;
    position: absolute;
    margin: 0 !important;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    z-index: 1;
  }
  .ellipse-parent28 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-3xs);
  }
  .div1 {
    position: relative;
    line-height: 24px;
    display: inline-block;
    min-width: 115px;
    white-space: nowrap;
  }
  .frame-parent37 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .frame-child59 {
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    border: 0 solid var(--primary-400);
    box-sizing: border-box;
  }
  .frame-child60 {
    height: 8px;
    width: 8px;
    position: absolute;
    margin: 0 !important;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    z-index: 1;
  }
  .ellipse-parent29 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-3xs);
  }
  .div2 {
    position: relative;
    line-height: 24px;
    white-space: nowrap;
  }
  .frame-parent38 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .frame-child61 {
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    border: 0 solid var(--primary-400);
    box-sizing: border-box;
  }
  .frame-child62 {
    height: 8px;
    width: 8px;
    position: absolute;
    margin: 0 !important;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    z-index: 1;
  }
  .ellipse-parent30 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-3xs);
  }
  .div3 {
    position: relative;
    line-height: 24px;
  }
  .frame-parent39 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .frame-child63 {
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    border: 0 solid var(--primary-400);
    box-sizing: border-box;
  }
  .frame-child64 {
    height: 8px;
    width: 8px;
    position: absolute;
    margin: 0 !important;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    z-index: 1;
  }
  .ellipse-parent31 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-3xs);
  }
  .div4 {
    position: relative;
    line-height: 24px;
  }
  .frame-parent40 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  .frame-child65 {
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    border: 0 solid var(--primary-400);
    box-sizing: border-box;
  }
  .frame-child66 {
    height: 8px;
    width: 8px;
    position: absolute;
    margin: 0 !important;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    z-index: 1;
  }
  .ellipse-parent32 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-3xs);
  }
  .and-above {
    position: relative;
    line-height: 24px;
  }
  .frame-parent41 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .frame-parent35,
  .input15,
  .inputs10 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent35 {
    flex-direction: column;
    padding: 0 var(--padding-8xl);
    gap: var(--gap-5xs);
    font-size: var(--body-base-regular-size);
    color: var(--monochrome-nuetral-600);
  }
  .input15,
  .inputs10 {
    max-width: 100%;
  }
  .input15 {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-xs);
  }
  .inputs10 {
    align-self: stretch;
    flex-direction: row;
  }
  .ready-to-secure-your-early-bir {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-5xl);
  }
  .ready-to-secure-container {
    align-self: stretch;
    position: relative;
    line-height: 150%;
    font-weight: 600;
  }
  .frame-child67 {
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    border: 0 solid var(--primary-400);
    box-sizing: border-box;
  }
  .frame-child68 {
    height: 8px;
    width: 8px;
    position: absolute;
    margin: 0 !important;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    background-color: var(--color);
    z-index: 1;
  }
  .ellipse-parent33 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-3xs);
  }
  .absolutely-im-ready {
    margin: 0;
    flex: 1;
    position: relative;
    line-height: 24px;
    display: inline-block;
    min-width: 430px;
    max-width: 100%;
  }
  .frame-parent43 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
    max-width: 100%;
  }
  .frame-child69 {
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    border: 0 solid var(--primary-400);
    box-sizing: border-box;
  }
  .frame-child70 {
    height: 8px;
    width: 8px;
    position: absolute;
    margin: 0 !important;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    z-index: 1;
  }
  .ellipse-parent34 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-3xs);
  }
  .not-at-this {
    flex: 1;
    position: relative;
    line-height: 24px;
    display: inline-block;
    min-width: 208px;
  }
  .frame-parent44 {
    width: 350px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
    max-width: 100%;
  }
  .frame-parent42 {
    width: 745px;
    flex-direction: column;
    padding: 0 var(--padding-8xl);
    box-sizing: border-box;
    gap: var(--gap-5xs);
    font-size: var(--body-base-regular-size);
    color: var(--monochrome-nuetral-600);
  }
  .frame-parent42,
  .input16,
  .inputs-parent,
  .inputs11,
  .survey-questions-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .input16 {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-xs);
  }
  .inputs-parent,
  .inputs11,
  .survey-questions-parent {
    align-self: stretch;
    flex-direction: row;
  }
  .inputs-parent,
  .survey-questions-parent {
    flex-direction: column;
  }
  .inputs-parent {
    gap: 24px;
    z-index: 1;
    font-size: var(--font-size-lg);
    color: var(--color1);
  }
  .survey-questions-parent {
    padding: 0 0 34px;
    box-sizing: border-box;
    gap: 17px;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--black);
    font-family: var(--body-base-regular);
  }
  .stay-in-the {
    position: relative;
    font-size: var(--font-size-lg);
    line-height: 150%;
    font-weight: 700;
    font-family: var(--body-base-regular);
    color: var(--color1);
    text-align: center;
    display: inline-block;
    min-width: 60px;
  }
  .icon {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .button,
  .button-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .button {
    cursor: pointer;
    border: 0;
    padding: 11.5px 73px;
    background-color: var(--color);
    border-radius: 12px;
    overflow: hidden;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  .button:hover {
    background-color: #00abe6;
  }
  .button-wrapper {
    align-self: stretch;
    justify-content: center;
    padding: 0 0 6px var(--padding-11xs);
  }
  .heading1 {
    align-self: stretch;
    position: relative;
    line-height: 40px;
    font-weight: 700;
  }
  .we-sincerely-appreciate {
    margin: 0;
    flex: 1;
    position: relative;
    line-height: 24px;
    display: inline-block;
    max-width: 100%;
  }
  .heading-parent,
  .we-sincerely-appreciate-your-p-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .we-sincerely-appreciate-your-p-wrapper {
    align-self: stretch;
    flex-direction: row;
    padding: 0 35px;
    box-sizing: border-box;
    font-size: var(--body-base-regular-size);
    color: var(--monochrome-nuetral-600);
  }
  .heading-parent {
    flex: 1;
    flex-direction: column;
    gap: 15px;
  }
  .frame-section,
  .survey {
    display: flex;
    box-sizing: border-box;
  }
  .frame-section {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 41px;
    max-width: 100%;
    text-align: center;
    font-size: var(--desktop-bold-h2-size);
    color: var(--primary-800);
    font-family: var(--body-base-regular);
  }
  .survey {
    width: 100%;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 28px 87px 156px;
    gap: 40px;
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 850px) {
    .input,
    .input11,
    .input5 {
      padding-right: var(--padding-30xl);
      box-sizing: border-box;
    }
    .absolutely-im-ready {
      min-width: 100%;
    }
    .heading1 {
      font-size: 29px;
      line-height: 32px;
    }
  }
  @media screen and (max-width: 675px) {
    .survey {
      gap: 20px;
      padding-left: var(--padding-24xl);
      padding-right: var(--padding-24xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .frame-parent {
      gap: 21px;
    }
    .confidentiality,
    .feedback,
    .instructions,
    .introduction,
    .objectives,
    .survey-questions,
    .timing {
      font-size: var(--body-base-regular-size);
      line-height: 26px;
    }
    .input {
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .input6 {
      gap: 18px;
    }
    .input11,
    .input5 {
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .heading1 {
      font-size: 22px;
      line-height: 24px;
    }
    .survey {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
  }
  </style>

  <style>
  body {
    margin: 0;
    line-height: normal;
  }

  :root {
    /* fonts */
    --body-base-regular: Nunito;

    /* font sizes */
    --body-base-regular-size: 16px;
    --desktop-bold-h2-size: 36px;
    --font-size-lg: 18px;
    --font-size-sm: 14px;
    --font-size-xl: 20px;

    /* Colors */
    --monochrome-nuetral-600: #595959;
    --primary-800: #00648d;
    --primary-400: #2ccfff;
    --color: #0fc3ff;
    --color1: #00234c;
    --neutral-grey-50: #d9d9d9;
    --neutral-grey-70: #8c8c8c;
    --black: #000;

    /* Gaps */
    --gap-5xs: 8px;
    --gap-xs: 12px;
    --gap-3xs: 10px;

    /* Paddings */
    --padding-xl: 20px;
    --padding-24xl: 43px;
    --padding-11xs: 2px;
    --padding-8xl: 27px;
    --padding-5xl: 24px;
    --padding-79xl: 98px;
    --padding-30xl: 49px;
    --padding-mini-5: 14.5px;
    --padding-xs: 12px;
    --padding-smi: 13px;
    --padding-8xs: 5px;
  }
  </style>