<div id="<%= dom_id survey %>">
  <p>
    <strong>Email:</strong>
    <%= survey.email %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= survey.age %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= survey.location %>
  </p>

  <p>
    <strong>Invested:</strong>
    <%= survey.invested %>
  </p>

  <p>
    <strong>Ifso:</strong>
    <%= survey.ifso %>
  </p>

  <p>
    <strong>Goals:</strong>
    <%= survey.goals %>
  </p>

  <p>
    <strong>Challenge:</strong>
    <%= survey.challenge %>
  </p>

  <p>
    <strong>Solution:</strong>
    <%= survey.solution %>
  </p>

  <p>
    <strong>Solution desc:</strong>
    <%= survey.solution_desc %>
  </p>

  <p>
    <strong>Comfort:</strong>
    <%= survey.comfort %>
  </p>

  <p>
    <strong>Liquidity:</strong>
    <%= survey.liquidity %>
  </p>

  <p>
    <strong>Ready:</strong>
    <%= survey.ready %>
  </p>

</div>
