<div id="main" >
 <%= render 'layouts/nav' %>

</div> 

<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20" style="font-family: 'Nunito', sans-serif;">
       
   



<div class="flex flex-col gap-10 px-4 lg:px-[65px] py-[50px]">
  <div class="w-full lg:w-[768px] flex flex-col gap-4">
    <div class="flex justify-left items-center gap-2.5 px-3 py-[5px]">
      <div class="w-4 h-4">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.6668 7.99998H3.3335M3.3335 7.99998L8.00016 12.6666M3.3335 7.99998L8.00016 3.33331" stroke="#70EB6D" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>


      </div>
    
      <%= link_to 'Back', blogs_path, class:'font-normal text-base text-[#20265a]' %>
    </div>
    <div class="flex flex-col gap-4 self-stretch">
      <span class="font-semibold text-3xl lg:text-[48px] leading-[40px] lg:leading-[64px] text-[#20265a]">The ABCs of Real Estate Tokenization: A Beginner's Guide</span>
      <div class="flex gap-6">
        <div class="flex flex-col">
          <div class="flex items-center gap-2">
            <span class="font-normal text-[14px] leading-[10.714285714285714%] text-black">11 Jan 2022</span>
            <span class="font-normal text-[18px] leading-[8.333333333333334%] text-black">•</span>
            <span class="font-normal text-[14px] leading-[10.714285714285714%] text-black">5 min read</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-[980px] lg:w-[1309px] h-[530px] lg:h-[530px] bg-[white] flex justify-center items-center rounded-lg">
    <%= image_tag "abc.png", class:"[980px] h-[530px] object-cover rounded-lg" %>
  </div>

  <div class="flex flex-col gap-10 px-4 lg:px-[65px] py-[50px]">
    <div class="w-full lg:w-[1145px] flex flex-col gap-10">
      <div class="flex flex-col self-stretch">
        <div class="flex flex-col self-stretch py-6">
          <span class="font-bold text-2xl lg:text-4xl text-[#20265a]">Introduction</span>
        </div>
        <div class="flex flex-col self-stretch pb-4">
          <span class="font-normal text-base lg:text-lg text-[#595959]">As a beginner in real estate tokenization, whether you're skeptical about investing or eager to explore investing in real estate assets through tokens, we're here to make the process simple and straightforward for you. </span>
        </div>

      </div>
      
   

      <div class="w-full lg:w-[1145px] flex flex-col self-stretch py-6">
        <span class="font-bold text-2xl lg:text-4xl text-[#20265a]">Consider the following guidelines:</span>
        <div class="flex flex-col self-stretch pb-4">
          <ol class="list-disc ml-5 mt-2">
            <li class="font-normal text-base lg:text-lg text-[#595959]"><em class="text-[#20265a]">1. Understand What Real Estate Tokenization Is</em> <p>Real estate tokenization is the process of converting real estate assets into digital tokens on a blockchain. These tokens represent ownership or a share in the real estate asset and can be bought, sold, or traded on digital platforms.</p></li>
<br>
            <li class="font-normal text-base lg:text-lg text-[#595959]"><em class="text-[#20265a]">2. Benefits of Real Estate Tokenization</em>
              <ol>
                <li><em class="text-[#20265a]">Accessibility:  </em> Tokenization lowers the barrier to entry, allowing more people to invest in real estate with smaller amounts of money. </li>
                <li><em class="text-[#20265a]">Liquidity: </em> Tokens can be traded on secondary markets, providing more liquidity compared to traditional real estate investments. </li>
                <li><em class="text-[#20265a]">Transparency: </em> Blockchain technology ensures transparent and secure transactions, reducing the risk of fraud.</li>
                <li><em class="text-[#20265a]">Fractional Ownership: </em> Investors can own a fraction of a property, diversifying their investment portfolio.</li>
              </ol></li>
<br>
              <li class="font-normal text-base lg:text-lg text-[#595959]"><em class="text-[#20265a]">3. Steps to Get Started</em>
                <ol>
                  <li><em class="text-[#20265a]">A. Research and Educate Yourself</em> <p>Tokenization lowers the barrier to entry, allowing more people to invest in real estate with smaller amounts of money. </p></li>
                  <li><em class="text-[#20265a]"> B. Choose a Reliable Platform</em> <p>Select a platform that specializes in real estate tokenization. Ensure it is reputable, secure, and has a user-friendly interface.</p></li>
                  <li><em class="text-[#20265a]">C. Create an Account</em> <p>Sign up on the chosen platform. This usually involves providing some personal information and completing a verification process.
                  </p></li>
                  <li><em class="text-[#20265a]">D. Explore Investment Opportunities</em> <p>Browse the available tokenized real estate assets on the platform. Look at the property details, historical performance, and future prospects.</p></li>
                  <li><em class="text-[#20265a]">E. Make an Investment</em> <p>Decide on the amount you want to invest and purchase the tokens. The platform will guide you through the payment process, which can be done using traditional currency or cryptocurrencies.</p></li>

                </ol></li>

<br>
                <li class="font-normal text-base lg:text-lg text-[#595959]"><em class="text-[#20265a]">4. Manage Your Investment</em>
                  <ol>
                    <li><em class="text-[#20265a]">Monitor Your Portfolio: </em> Keep track of your investments through the platform’s dashboard.</li>
                    <li><em class="text-[#20265a]">Stay Informed: </em>Stay updated on market trends and news related to real estate and blockchain.</li>
                    <li><em class="text-[#20265a]">Plan for the Long Term: </em> Real estate is typically a long-term investment. Be patient and make informed decisions about buying, selling, or holding your tokens.</li>
                  </ol></li>
<br>
               <li class="font-normal text-base lg:text-lg text-[#595959]"><em class="text-[#20265a]">5. Understand the Risks</em>
                 <ol>
                   <li>Market volatility, regulatory changes, and platform security are factors to consider. Diversify your investments and don't invest more than you can afford to lose.</li>
                   <br>
                   <li>By following these guidelines, you can confidently embark on your journey into real estate tokenization and enjoy the benefits it offers. Remember, our platform is designed to make this process as simple and beneficial for you as possible. For further assistance in getting started, don't hesitate to reach out to our welcoming team. We're here to support you every step of the way.</li>
       
                 </ol></li>
 
 
 
          </ol>
        </div>
      </div>


    </div>
  </div>




  <div class="w-full flex flex-col justify-center gap-6 px-4 py-6 lg:px-16 lg:py-6">
    <div class="flex justify-center items-end w-full">
      <span class="font-bold text-2xl text-[#20265a]">Related Article</span>
    </div>
    <div class="flex flex-col lg:flex-row gap-8 w-full">
      <!-- First Card -->
      <div class="flex flex-col gap-6 flex-1">
        <a href="https://reblox.app/blog/future">
        <%= image_tag "tf.jpg", class:"w-full h-[250px] object-cover rounded-lg" %>
        <div class="flex flex-col gap-4 w-full">
          <div class="flex items-center gap-4">
            <div class="flex bg-[#70EB6D] px-[7.5px] py-[3.75px] rounded-[7.5px]">
              <span class="font-semibold text-[13px] leading-[11.5%] text-black">Category</span>
            </div>
            <span class="font-normal text-xs text-black">5 min read</span>
          </div>
          <div class="flex flex-col gap-2 w-full lg:w-[640px]">
            <span class="font-semibold text-2xl text-[#20265a]">The Future of Real Estate Investment</span>
            <span class="font-normal text-base text-[#595959]">In the annals of technological progress, humanity has transitioned from crude methodologies to a digitally-driven world.</span>
          </div>
        </div>
        <div class="h-10 flex justify-end items-center gap-[11px]">
          <div class="h-10 flex justify-center items-center gap-1 px-2.5 py-[5px] rounded-xl">
            <span class="font-semibold text-sm text-[#0095d4]">Read more</span>
            <div class="w-4 h-4">
              <svg class="w-[9.33px] h-[9.33px] text-[#0095d4]"></svg>
            </div>
          </div>
        </div>
      </a>
      </div>
      <!-- Second Card -->
      <div class="flex flex-col gap-6 flex-1">
       <a href="https://reblox.app/blog/what">
        <%= image_tag "wr.jpg", class:"w-full h-[250px] object-cover rounded-lg" %>
        <div class="flex flex-col gap-4 w-full">
          <div class="flex items-center gap-4">
            <div class="flex bg-[#70EB6D] px-[7.5px] py-[3.75px] rounded-[7.5px]">
              <span class="font-semibold text-[13px] leading-[11.5%] text-black">Category</span>
            </div>
            <span class="font-normal text-xs text-black">5 min read</span>
          </div>
          <div class="flex flex-col gap-2 w-full lg:w-[640px]">
            <span class="font-semibold text-2xl text-[#20265a]">What is Real Estate Tokenization</span>
            <span class="font-normal text-base text-[#595959]">Most articles on real estate tokenization focus heavily on the technical aspects of blockchain and Web 3.0, but it's more valuable to understand how this technology......</span>
          </div>
        </div>
        <div class="h-10 flex justify-end items-center gap-[11px]">
          <div class="h-10 flex justify-center items-center gap-1 px-2.5 py-[5px] rounded-xl">
            <span class="font-semibold text-sm text-[#0095d4]">Read more</span>
            <div class="w-4 h-4">
              <svg class="w-[9.33px] h-[9.33px] text-[#0095d4]"></svg>
            </div>
          </div>
        </div>
      </a>
      </div>
    </div>
  </div>

</div>
<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20" style="font-family: 'Nunito', sans-serif;">
       
      <div class="">

    <%= render 'layouts/loop' %>
      </div>

 
   </div>






</div>
<%= render 'layouts/footer' %>