<div id="main" >
 <%= render 'layouts/nav' %>

</div> 

<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20" style="font-family: 'Nunito', sans-serif;">
       
   



<div class="flex flex-col gap-10 px-4 lg:px-[65px] py-[50px]">
  <div class="w-full lg:w-[768px] flex flex-col gap-4">
    <div class="flex justify-left items-center gap-2.5 px-3 py-[5px]">
      <div class="w-4 h-4">
        <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10.1668 5.99998H0.833496M0.833496 5.99998L5.50016 10.6666M0.833496 5.99998L5.50016 1.33331" stroke="#70EB6D" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>

      </div>
    
      <%= link_to 'Back', blogs_path, class:'font-normal text-base text-[#20265a]' %>
    </div>
    <div class="flex flex-col gap-4 self-stretch">
      <span class="font-semibold text-3xl lg:text-[48px] leading-[40px] lg:leading-[64px] text-[#20265a]">What is Real Estate Tokenization and How Does It Work?</span>
      <div class="flex gap-6">
        <div class="flex flex-col">
          <div class="flex items-center gap-2">
            <span class="font-normal text-[14px] leading-[10.714285714285714%] text-black">11 Jan 2022</span>
            <span class="font-normal text-[18px] leading-[8.333333333333334%] text-black">•</span>
            <span class="font-normal text-[14px] leading-[10.714285714285714%] text-black">5 min read</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-[980px] lg:w-[1309px] h-[530px] lg:h-[530px] bg-[white] flex justify-center items-center rounded-lg">
    <%= image_tag "wr.jpg", class:"[980px] h-[530px] object-cover rounded-lg" %>
  </div>

  <div class="flex flex-col gap-10 px-4 lg:px-[65px] py-[50px]">
    <div class="w-full lg:w-[1145px] flex flex-col gap-10">
      <div class="flex flex-col self-stretch">
        <div class="flex flex-col self-stretch py-6">
          <span class="font-bold text-2xl lg:text-4xl text-[#20265a]">Introduction</span>
        </div>
        <div class="flex flex-col self-stretch pb-4">
          <span class="font-normal text-base lg:text-lg text-[#595959]">Most articles on real estate tokenization focus heavily on the technical aspects of blockchain and Web 3.0, but it's more valuable to understand how this technology benefits you as a user. Think about the previous versions of the web—Web 1.0 and Web 2.0. The emphasis wasn't on the underlying technology but on the value it brought to users. In the same vein, we prioritize making our platform relatable and beneficial to you, without diving into complex codes and technical jargon. If you're interested in the intricate details, our technical documents are soon to be available to provide details.</span>
        </div>
        <div class="flex flex-col self-stretch pb-4">
          <span class="font-normal text-base lg:text-lg text-[#595959]">Tokenization as a concept has seen application, not just in real estate but also in other industries like art, finance, and collectibles. By converting ownership rights into digital tokens, these industries have made assets more accessible and tradable.</span>
        </div>
        <div class="flex self-stretch pt-5 pb-8">
          <div class="flex gap-6 grow bg-white">
            <div class="w-0.5 bg-black"></div>
           <a href="https://reblox.app/#success"></a> <span class="font-semibold text-base underline text-[#4148f7] cursor-pointer">See some success stories of real estate tokenization here</span>
          </div>
        </div>
      </div>
      
      <div class="w-full lg:w-[1145px] flex flex-col self-stretch py-6">
        <span class="font-bold text-2xl lg:text-4xl text-[#20265a]">What is Real Estate Tokenization?</span>
        <div class="flex flex-col self-stretch pb-4">
          <span class="font-normal text-base lg:text-lg text-[#595959]">Real estate tokenization is the process of converting real estate assets into digital tokens on a blockchain. These tokens represent ownership or a share in the real estate asset and can be bought, sold, or traded on digital platforms. Each token corresponds to a specific portion of the property, and the ownership details are securely recorded on the blockchain. Real estate tokenization is changing the landscape of property investment, making it more accessible, transparent, and liquid. By breaking down barriers to entry and leveraging blockchain technology, it offers a modern solution to traditional real estate challenges. Whether you're a property owner looking to unlock liquidity or an investor seeking to diversify your portfolio, real estate tokenization provides a new and exciting avenue for growth.</span>
        </div>
      </div>

      <div class="w-full lg:w-[1145px] flex flex-col self-stretch py-6">
        <span class="font-bold text-2xl lg:text-4xl text-[#20265a]">Benefits of Real Estate Tokenization</span>
        <div class="flex flex-col self-stretch pb-4">
          <span class="font-normal text-base lg:text-lg text-[#595959]">Real estate tokenization is revolutionary as it has transformed the traditional economic and commercial systems. Some of the key benefits include:</span>
          <ul class="list-disc ml-5 mt-2">
            <li class="font-normal text-base lg:text-lg text-[#595959]">Fractional Ownership: Investors can buy smaller, more affordable portions of expensive properties.</li>
            <li class="font-normal text-base lg:text-lg text-[#595959]">Accessibility: Allows more people to invest in real estate without needing significant capital.</li>
            <li class="font-normal text-base lg:text-lg text-[#595959]">Liquidity: Tokens can be traded on secondary markets, providing liquidity that traditional real estate lacks.</li>
            <li class="font-normal text-base lg:text-lg text-[#595959]">Decentralized Governance: Ownership and decision-making can be distributed among token holders.</li>
            <li class="font-normal text-base lg:text-lg text-[#595959]">Affordability: Lower entry costs make real estate investment more accessible.</li>
            <li class="font-normal text-base lg:text-lg text-[#595959]">Security: Blockchain technology ensures secure and transparent transactions.</li>
            <li class="font-normal text-base lg:text-lg text-[#595959]">Transparency: All transactions and ownership details are recorded on a public ledger, reducing the risk of fraud.</li>
          </ul>
        </div>
      </div>

      <div class="w-full lg:w-[1145px] flex flex-col self-stretch py-6">
        <span class="font-bold text-2xl lg:text-4xl text-[#20265a]">Differences Between Real Estate Tokenization and Traditional Real Estate Investing</span>
        <div class="flex flex-col self-stretch pb-4">
          <ul class="list-disc ml-5">
            <li class="font-normal text-base lg:text-lg text-[#595959]">Ownership Structure: Traditional real estate involves full ownership or large shares, while tokenization allows fractional ownership.</li>
            <li class="font-normal text-base lg:text-lg text-[#595959]">Liquidity: Traditional real estate investments are relatively illiquid, whereas tokenized assets can be easily traded on secondary markets.</li>
            <li class="font-normal text-base lg:text-lg text-[#595959]">Accessibility: Tokenization lowers the barrier to entry, making real estate investment accessible to a broader range of investors.</li>
            <li class="font-normal text-base lg:text-lg text-[#595959]">Transaction Speed: Traditional real estate transactions can take weeks or months, while token transactions can be completed in minutes.</li>
            <li class="font-normal text-base lg:text-lg text-[#595959]">Transparency: Blockchain provides a transparent record of transactions, reducing the risk of fraud compared to traditional real estate dealings.</li>
          </ul>
        </div>
      </div>

      <div class="w-full lg:w-[1145px] flex flex-col self-stretch py-6">
        <span class="font-bold text-2xl lg:text-4xl text-[#20265a]">How Does Real Estate Tokenization Work?</span>
        <div class="flex flex-col self-stretch py-2.5">
          <span class="font-bold text-lg lg:text-2xl leading-[32px] text-[#20265a]">For Real Estate Owners:</span>
          <div class="flex flex-col self-stretch pb-4">
            <ul class="list-disc ml-5">
              <li class="font-normal text-base lg:text-lg text-[#595959]">Asset Selection: The owner selects a property to tokenize.</li>
              <li class="font-normal text-base lg:text-lg text-[#595959]">Legal Structuring: The property is legally structured to allow tokenization, often involving creating a Special Purpose Vehicle (SPV) to hold the asset.</li>
              <li class="font-normal text-base lg:text-lg text-[#595959]">Token Creation: Digital tokens are created on a blockchain, each representing a share in the property.</li>
              <li class="font-normal text-base lg:text-lg text-[#595959]">Token Offering: The tokens are offered to investors through a digital marketplace for tokenized platform (e.g Reblox marketplace).</li>
            </ul>
          </div>
        </div>

        <div class="flex flex-col self-stretch py-2.5">
          <span class="font-bold text-lg lg:text-2xl leading-[32px] text-[#20265a]">For Investors</span>
          <div class="flex flex-col self-stretch pb-4">
            <ul class="list-disc ml-5">
              <li class="font-normal text-base lg:text-lg text-[#595959]">Platform Selection: Investors choose a reliable tokenization platform like Reblox.</li>
              <li class="font-normal text-base lg:text-lg text-[#595959]">Account Setup: Investors create an account and complete any necessary verification processes.</li>
              <li class="font-normal text-base lg:text-lg text-[#595959]">Purchase Tokens: Investors purchase tokens using fiat currency or cryptocurrency.</li>
              <li class="font-normal text-base lg:text-lg text-[#595959]">Manage Investment: Investors can track their investments, receive dividends, and trade tokens on secondary markets.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="w-full flex flex-col justify-center gap-6 px-4 py-6 lg:px-16 lg:py-6">
    <div class="flex justify-center items-end w-full">
      <span class="font-bold text-2xl text-[#20265a]">Related Article</span>
    </div>
    <div class="flex flex-col lg:flex-row gap-8 w-full">
      <!-- First Card -->
      <div class="flex flex-col gap-6 flex-1">
        <a href="https://reblox.app/blog/future">
        <%= image_tag "tf.jpg", class:"w-full h-[250px] object-cover rounded-lg" %>
        <div class="flex flex-col gap-4 w-full">
          <div class="flex items-center gap-4">
            <div class="flex bg-[#def4ff] px-[7.5px] py-[3.75px] rounded-[7.5px]">
              <span class="font-semibold text-[13px] leading-[11.5%] text-black">Category</span>
            </div>
            <span class="font-normal text-xs text-black">5 min read</span>
          </div>
          <div class="flex flex-col gap-2 w-full lg:w-[640px]">
            <span class="font-semibold text-2xl text-[#20265a]">The Future of Real Estate Investment</span>
            <span class="font-normal text-base text-[#595959]">In the annals of technological progress, humanity has transitioned from crude methodologies to a digitally-driven world.</span>
          </div>
        </div>
        <div class="h-10 flex justify-end items-center gap-[11px]">
          <div class="h-10 flex justify-center items-center gap-1 px-2.5 py-[5px] rounded-xl">
            <span class="font-semibold text-sm text-[#0095d4]">Read more</span>
            <div class="w-4 h-4">
              <svg class="w-[9.33px] h-[9.33px] text-[#0095d4]"></svg>
            </div>
          </div>
        </div>
        </a>
      </div>
      <!-- Second Card -->
      <div class="flex flex-col gap-6 flex-1">
       <a href="https://reblox.app/blog/how">
        <%= image_tag "abc.png", class:"w-full h-[250px] object-cover rounded-lg" %>
        <div class="flex flex-col gap-4 w-full">
          <div class="flex items-center gap-4">
            <div class="flex bg-[#def4ff] px-[7.5px] py-[3.75px] rounded-[7.5px]">
              <span class="font-semibold text-[13px] leading-[11.5%] text-black">Category</span>
            </div>
            <span class="font-normal text-xs text-black">5 min read</span>
          </div>
          <div class="flex flex-col gap-2 w-full lg:w-[640px]">
            <span class="font-semibold text-2xl text-[#20265a]">How to get started</span>
            <span class="font-normal text-base text-[#595959]">As a beginner in real estate tokenization, whether you're skeptical about investing or eager to explore investing in real estate assets through tokens...</span>
          </div>
        </div>
        <div class="h-10 flex justify-end items-center gap-[11px]">
          <div class="h-10 flex justify-center items-center gap-1 px-2.5 py-[5px] rounded-xl">
            <span class="font-semibold text-sm text-[#0095d4]">Read more</span>
            <div class="w-4 h-4">
              <svg class="w-[9.33px] h-[9.33px] text-[#0095d4]"></svg>
            </div>
          </div>
        </div>
</a>
      </div>
    </div>
  </div>

</div>
<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20" style="font-family: 'Nunito', sans-serif;">
       
      <div class="">

    <%= render 'layouts/loop' %>
      </div>

 
   </div>






</div>
<%= render 'layouts/footer' %>