      <section class="about">
        <div class="about-content">
          <b class="about-us2">About us</b>
          <p class="lrem-ipsum-der-container">
            <span class="lrem-ipsum-der"
              >Reblox facilitates the seamless digitization of real estate assets, allowing for fractional ownership. Investors gain access to a transparent and secure ecosystem, enabling diversified participation in the real estate market. The platform enhances liquidity, promotes global accessibility, and ensures regulatory compliance, providing a cutting-edge solution for modern real estate investment.
            </span>
          </p>
          <div class="logo-cards">
            
            <%= image_tag "public/logo-in-png-1@2x.png", class:"logo-in-png1" %>

            <div class="card-wrapper">
              <div class="mission-card-containers">
                <div class="mission-card-rows">
                  <div class="mission-card-items">
                    <div class="mission-card-elements">
                      <div class="mission-card-elements-child"></div>
                     
                      <%= image_tag "public/token.svg", class:"token-icon" %>
                    </div>
                  </div>
                 
                  <%= image_tag "public/arrow-2.svg", class:"mission-card-rows-child sm:hidden" %>
                  <div class="mission-descriptions">
                    <b class="our-mission">Our Mission</b>
                    <p class="to-democratize-global">
                      To democratize global real estate access and empower
                      individuals to control their financial future.
                    </p>
                  </div>
                </div>
              </div>
              <div class="mission-card-containers1">
                <div class="frame-parent">
                  <div class="frame-wrapper">
                    <div class="ellipse-parent">
                      <div class="frame-child"></div>
                     
                      <%= image_tag "public/token-1.svg", class:"token-icon1" %>
                    </div>
                  </div>
        
                  <%= image_tag "public/arrow-2.svg", class:"frame-item sm:hidden" %>

                  <div class="our-vision-parent">
                    <b class="our-vision">Our Vision</b>
                    <p class="to-be-the">
                      To be the world’s premier leader, offering unparalleled
                      security, accessibility and affordability in fractional
                      investment solutions for real estate assets across the
                      globe.
                    </p>
                  </div>
                </div>
              </div>
              <div class="mission-card-containers2">
                <div class="frame-group">
                  <div class="frame-container">
                    <div class="ellipse-group">
                      <div class="frame-inner"></div>
                      
                      <%= image_tag "public/token-2.svg", class:"token-icon2" %>
                    </div>
                  </div>
          
                  <%= image_tag "public/arrow-2.svg", class:"arrow-icon sm:hidden" %>
                  <div class="our-values-parent">
                    <b class="our-values">Our Values</b>
                    <p class="together-we-strive">
                      Together we strive to deliver a reliable product and
                      services, foster a resilient team, and cultivate a
                      relatable experience for our customers.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="reblox-intro">
        <div class="intro-content">
          <div class="intro-wrapper-wrapper">
            <div class="intro-wrapper">
              <div class="intro-title">
                <b class="introducing-reblox">Introducing Reblox</b>
              </div>
              <div class="intro-image">
                <p class="lrem-ipsum-der-container1">
                  <span class="lrem-ipsum-der1"
                    >Unlock the Real Future with Reblox
                  </span>
                </p>
               
                <%= image_tag "public/logo-in-png-1@2x.png", class:"logo-in-png2" %>
              </div>
            </div>
          </div>
         <div class="intro-button">
            <button class="button2">
              <b class="stay-in-the2">Stay in the Loop</b>
             
              <%= image_tag "public/icon.svg", class:"stay-in-the2" %>
            </button>
          </div>
          <div class="glow-effect">
            <div class="light-glow-energy-1280x720-1"></div>
            <div class="glow-container">

             
              <iframe class="light-glow-energy-1280x720-2-icon" width="560" height="315" src="https://www.youtube.com/embed/xGKby6xOc9Y" title="" frameBorder="0"   allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"  allowFullScreen><br>Powered by <a href="https://youtubeembedcode.com">embed youtube video html</a> and <a href="https://laddningbrf.se/">laddstolpe bostadsrättsförening</a></iframe>
            </div>
          </div>
        </div>
      </section>





<style>
  .about {
    margin-top: 40px; /* Adjust the value as needed */
  }
</style>