
    <style>
        .hidden {
            display: none;
        }
    </style>

<nav class="sticky top-0 z-50 relative bg-cover bg-center" style="background-image: url('<%= asset_path('nav-bg.png') %>');">
  <div class="absolute inset-0"></div>
  <div class="relative mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
          </svg>
          <!--
            Icon when menu is open.

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-between">
        <div class="flex flex-shrink-0 items-center">
          <%= image_tag "logo-main.png", class:"h-8 w-auto" %>
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4 justify-center">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <%= link_to "About Us", root_path, class: 'text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium' %>

            <%= link_to "Blog", blogs_path, class: 'text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium' %>

            <%= link_to "Contact Us", new_survey_path, class: 'text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium' %>
          </div>
        </div>
      </div>

      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <!-- Stay in the loop btn -->
        <div class="relative ml-3 hidden sm:block">
          <%= render 'layouts/loop' %>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <%= link_to "About Us", root_path, class: 'text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium' %>
      <%= link_to "Blog", blogs_path, class: 'text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium' %>
      <%= link_to "Contact Us", root_path, class: 'text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium' %>
    </div>
  </div>
</nav>

<script>
  // Toggle mobile menu
  document.querySelector('button[aria-controls="mobile-menu"]').addEventListener('click', function() {
    var menu = document.getElementById('mobile-menu');
    var openIcon = this.querySelector('svg.block');
    var closeIcon = this.querySelector('svg.hidden');
    
    if (menu.classList.contains('hidden')) {
      menu.classList.remove('hidden');
      openIcon.classList.add('hidden');
      closeIcon.classList.remove('hidden');
      this.setAttribute('aria-expanded', 'true');
    } else {
      menu.classList.add('hidden');
      openIcon.classList.remove('hidden');
      closeIcon.classList.add('hidden');
      this.setAttribute('aria-expanded', 'false');
    }
  });

  // Toggle profile dropdown
  document.getElementById('user-menu-button').addEventListener('click', function() {
    var menu = this.nextElementSibling;
    if (menu.classList.contains('hidden')) {
      menu.classList.remove('hidden');
    } else {
      menu.classList.add('hidden');
    }
  });

  // Close profile dropdown when clicking outside
  window.addEventListener('click', function(event) {
    var menuButton = document.getElementById('user-menu-button');
    var menu = menuButton.nextElementSibling;
    if (!menuButton.contains(event.target) && !menu.contains(event.target)) {
      menu.classList.add('hidden');
    }
  });
</script>

