      <section class="highlights-content-wrapper">
        <div class="highlights-content">
          <div class="highlights-title">
            <b class="highlights">Highlights </b>
          </div>
          <div class="feature-cards">
            <div class="component-4">
              <div class="frame-div">
                <div class="frame-child1"></div>
                <div class="ownership-wrapper">
                  <div class="ownership-icon">
                    <div class="ownership-icon-child"></div>
                  
                    <%= image_tag "public/vuesaxlinearelement3.svg", class:"vuesaxlinearelement-3-icon" %>
                  </div>
                  <div class="ownership-description-wrapper">
                    <div class="ownership-description">
                      <h1 class="fractional-ownership">Fractional ownership</h1>
                      <p class="split-large-property">
                        Split large property investments into smaller, more
                        affordable tokens, opening up real estate investment
                        opportunities to a wider audience and promoting wealth
                        democratization.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
             <div class="feature-card-containers1">
              <div class="feature-card-items-parent">
                <div class="feature-card-items">
                  <div class="feature-card-elements">
                    <div class="feature-card-elements-child"></div>
                   
                    <%= image_tag "public/vuesaxlinearhometrendup.svg", class:"vuesaxlinearhome-trend-up-icon" %>
                  </div>
                </div>
                <div class="feature-descriptions">
                  <b class="liquidity-boost">Liquidity boost</b>
                  <p class="selling-property-tokens">
                    Selling property tokens can be faster than selling the whole
                    thing, making it easier to get money when needed.
                  </p>
                </div>
              </div>
            </div>
              <div class="feature-card-containers3">
              <div class="frame-parent2">
                <div class="frame-wrapper1">
                  <div class="ellipse-parent1">
                    <div class="frame-child2"></div>

                    <%= image_tag "public/vuesaxlinearflash.svg", class:"vuesaxlinearflash-icon" %>
                  </div>
                </div>
                <div class="efficiency-parent">
                  <b class="efficiency">Efficiency</b>
                  <p class="streamlined-property-transacti">
                    Streamlined property transactions minimize paperwork,
                    offering swift and hassle-free processes, reducing wait
                    times, and cutting intermediary costs.
                  </p>
                </div>
              </div>
            </div>
            <div class="feature-card-containers">
              

              <div class="security-card">
                <div class="security-card-content">
                  <div class="security-card-icon-wrapper">
                    <div class="security-card-icon">
                      <div class="security-card-icon-child"></div>
                                          <%= image_tag "public/shieldsearch.svg", class:"security-card-icon-child" %>
                    </div>
                  </div>
                  <div class="security-and-transparency-parent">
                    <h1 class="security-and-transparency">
                      Security and Transparency
                    </h1>
                    <p class="invest-with-confidence">
                      Invest with confidence knowing that Blockchain keeps a
                      clear record of each property's history, making it easy to
                      trust. Real estate deals are safer and more honest, with
                      less risk of cheating.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="feature-card-containers2">
              <div class="frame-parent1">
                <div class="ellipse-container">
                  <div class="ellipse-div"></div>
               
                   <%= image_tag "public/vuesaxlinearpeople.svg", class:"vuesaxlinearpeople-icon" %>
                </div>
                <div class="accessibility-parent">
                  <b class="accessibility">Accessibility</b>
                  <p class="now-anyone-worldwide">
                    Now, anyone worldwide has the opportunity to invest in
                    premium properties they couldn't afford before, making the
                    real estate market truly global.
                  </p>
                </div>
              </div>
            </div>
          
            <div class="feature-card-containers4">
              <div class="frame-parent3">
                <div class="ellipse-parent2">
                  <div class="frame-child3"></div>
                 
                   <%= image_tag "public/vuesaxlinearjudge.svg", class:"vuesaxlinearjudge-icon" %>
                </div>
                <div class="decentralized-governance-parent">
                  <h1 class="decentralized-governance">
                    Decentralized Governance
                  </h1>
                  <p class="your-have-a">
                    Your have a say in how the real estate assets are managed
                    and governed.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>