<div id="success" class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20" style="font-family: 'Nunito', sans-serif;">
    <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
      <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-[#04344d] sm:text-4xl md:mx-auto" style="font-family: 'Nunito', sans-serif;">
        <span class="relative inline-block">
          <%= image_tag "public/logo-faded.png", class:"absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block" %>
          <span class="relative" style="font-family: 'Nunito', sans-serif;">Real Estate Tokenization Success Stories</span>
        </span>
      </h2>
    </div>
    <div class="container mx-auto p-4">
      <div class="flex flex-wrap">
        <div class="w-full md:w-1/2 p-2">
          <div class="p-4 rounded-lg shadow-lg">
            <%= image_tag 'public/regis.png', class: "rounded-lg", id: 'left-image' %>
          </div>
        </div>
        <div class="w-full md:w-1/2 p-2">
          <div class="p-4 rounded-lg shadow-lg">
            <div class="p-6 rounded-lg w-full lg:w-[90%]">
                  <hr class="mb-4">
                  <div class="flex items-center space-x-2 mb-4">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="8" cy="8" r="8" fill="#6BE5FF"/>
                    </svg>
                    <h2 class="text-2xl font-bold text-[#04344d]">The St. Regis Resort in Aspen, Colorado</h2>
                  </div>
                  <hr class="mb-4">
                  <p class="the-first-major text-justify text-[#04344d]">The first major asset in Manhattan to be tokenized on Ethereum, appraised at over $30M. With condominium prices soaring and a lengthy purchase process, cryptocurrencies offer a streamlined alternative.</p>
                  <br>
                  <p class="investors-can-choose text-justify text-[#04344d]">Investors can choose between analog or digital interests in the securities, ensuring flexibility for buyers. Profits from token trading and regular rental income from high demand in NYC bolster investor returns.</p>
                </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 p-2">
          <div class="p-4 rounded-lg shadow-lg h-[80%]">
            <%= image_tag 'public/12.png', class: " rounded-lg", id: 'left-image' %>
          </div>
        </div>
        <div class="w-full md:w-1/2 p-2">
          <div class="p-4 rounded-lg shadow-lg">
            <div class="p-6 rounded-lg w-full lg:w-[90%]">
                              <hr class="mb-4">
                              <div class="flex items-center space-x-2 mb-4">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <circle cx="8" cy="8" r="8" fill="#6BE5FF"/>
                                </svg>
                                <h2 class="text-2xl font-bold text-[#04344d]">The 12-unit building at 436 & 442E 13th St in the East Village, Manhattan</h2>
                              </div>
                              <hr class="mb-4">
                              <p class="the-first-major text-justify text-[#04344d]">The first major asset in Manhattan to be tokenized on Ethereum, appraised at over $30M. With condominium prices soaring and a lengthy purchase process, cryptocurrencies offer a streamlined alternative.</p>
                              <br>
                              <p class="investors-can-choose text-justify text-[#04344d]">Investors can choose between analog or digital interests in the securities, ensuring flexibility for buyers. Profits from token trading and regular rental income from high demand in NYC bolster investor returns.</p>
                            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 p-2">
          <div class="p-4 rounded-lg shadow-lg">
            <%= image_tag 'public/bar.png', class: "rounded-lg", id: 'left-image' %>
          </div>
        </div>
        <div class="w-full md:w-1/2 p-2">
          <div class="p-4 rounded-lg shadow-lg">
            <div class="p-6 rounded-lg w-full lg:w-[90%]">
                              <hr class="mb-4">
                              <div class="flex items-center space-x-2 mb-4">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <circle cx="8" cy="8" r="8" fill="#6BE5FF"/>
                                </svg>
                                <h2 class="text-2xl font-bold text-[#04344d]">Swiss City of Baar</h2>
                              </div>
                              <hr class="mb-4">
                              <p class="the-first-major text-justify text-[#04344d]">A real estate deal in the Swiss city of Baar, featuring 18 flats at Grabenstrasse 3 and a restaurant named "Hello World," was tokenized for approximately $3.2 million USD. The total token value of 3 million CHF, roughly $3.2 million USD, equates to 20% of the property's total value. Four investors acquired all tokens in a club sale through four separate transactions on the Ethereum network. This transaction functioned as a Security Token Offering, representing property ownership under Swiss law, despite not being linked to a company.</p>
                            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 p-2">
          <div class="p-4 rounded-lg shadow-lg">
            <%= image_tag 'public/anna.png', class: "rounded-lg", id: 'left-image' %>
          </div>
        </div>
        <div class="w-full md:w-1/2 p-2">
          <div class="p-4 rounded-lg shadow-lg">
            <div class="p-6 rounded-lg w-full lg:w-[90%]">
                              <hr class="mb-4">
                              <div class="flex items-center space-x-2 mb-4">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <circle cx="8" cy="8" r="8" fill="#6BE5FF"/>
                                </svg>
                                <h2 class="text-2xl font-bold text-[#04344d]">The AnnA Villa in Paris</h2>
                              </div>
                              <hr class="mb-4">
                              <p class="the-first-major text-justify text-[#04344d]">The AnnA Villa in Paris made history as the first European property sold entirely through blockchain. Valued at €6.5 million, the luxury building in Boulogne-Billancourt was purchased by French real estate firms, Sapeb Immobilier and Valorcim.</p>
                              <br>
                              <p class="investors-can-choose text-justify text-[#04344d]">The process involved transferring ownership to a joint-stock company (SAPEB AnnA) and dividing it into 100 tokens, each subdivided into 100,000 units and traded for €6.50 each. This Ethereum-powered tokenized sale is part of global efforts to integrate real estate transactions with blockchain technology.</p>
                            </div>
          </div>
        </div>
      </div>
    </div>

</div>

